### Preparación de ambiente

#### Lectura de archivos desde S3

In [ ]:
!pip3 install boto3

In [2]:
import os

import boto3
import pandas as pd


AWS_S3_BUCKET = "g6-datalake-proyectointegrador"
AWS_ACCESS_KEY_ID = "ASIA3T2YJ54QMMRGILWT"
AWS_SECRET_ACCESS_KEY = "Dr8iICRJJk9aJi8atKj0nLJXJRh/qtfTf8ugSX8f"
AWS_SESSION_TOKEN = "FwoGZXIvYXdzEC4aDG1QURO1yU/tAWQqBiLIAZmRaFPqbKGNFEfzb2u0NgJ4UuEgU5n1wmwa3EKrurUwuQvptotqPmZoMjzExLEmgSljb/tKkEx3TdjMbIpvTjGz+zvEAtOUK9jdjzGXv8drLKyZoSd1uA0i/UdLG2h5gmZr6gMDNlhK7YFNCJ86aBhsUL5/xb/AJTL19uLLnHNDMqGXkLO064zk/1T8vcCG9+edjzYvkotprbl1Ds+zbqUN91u9bflpqFa7jCoPMYLAC0g+MupfvIrh74XknGn+1E5zBA1YJeMjKNOGi5UGMi3SMjRomuPGxylmjoqtH9w1hGk8hf8NegGholc0JoO20hXi4gQr03/1IDc2NuQ="

s3_client = boto3.client(
    "s3",
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
    aws_session_token=AWS_SESSION_TOKEN,
)

response = s3_client.get_object(Bucket=AWS_S3_BUCKET, Key="02_RawZone/02_BaseFormuladaCompleta.csv")

status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")

if status == 200:
    print(f"Successful S3 get_object response. Status - {status}")
    df = pd.read_csv(response.get("Body"), encoding='UTF-8')
    print(df)
else:
    print(f"Unsuccessful S3 get_object response. Status - {status}")

Successful S3 get_object response. Status - 200

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (14,31) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

        codinmueble  codproyecto                 proyecto              vende  \
0             60000        60000              Santa Clara      Londoño Gomez
1             60001        60001   Santa María del Bosque      Londoño Gomez
2             60540        60001   Santa María del Bosque      Londoño Gomez
3             60002        60002           Quinta Avenida      Londoño Gomez
4             60003        60002           Quinta Avenida      Londoño Gomez
...             ...          ...                      ...                ...
588711       362597        62891           Ruta 39 Living  Plan Inmobiliario
588712       362598        62891           Ruta 39 Living  Plan Inmobiliario
588713       362615        62892  Nature Bio Apartamentos     Const. Capital
588714       362616        62892  Nature Bio Apartamentos     Const. Capital
588715       362617        62892  Nature Bio Apartamentos     Const. Capital

       codvende            dirección            zona    sub zona   financiera  \
0         MLOGO      Cl. 7B # 27- 30     Med. No VIS  El Poblado  Por Definir
1         MLOGO    Cr. 27 # 7B - 180     Med. No VIS  El Poblado         BBVA
2         MLOGO    Cr. 27 # 7B - 180     Med. No VIS  El Poblado         BBVA
3         MLOGO       Cl. 5A # 39-62     Med. No VIS  El Poblado  No Necesita
4         MLOGO       Cl. 5A # 39-62     Med. No VIS  El Poblado  No Necesita
...         ...                  ...             ...         ...          ...
588711    MPLAN      Cl. 39 X Cr. 61  Oriente No VIS    Rionegro  Por Definir
588712    MPLAN      Cl. 39 X Cr. 61  Oriente No VIS    Rionegro  Por Definir
588713    MCAPI  Cl. 45 # 75B Sur108      Sur No VIS    Sabaneta  Por Definir
588714    MCAPI  Cl. 45 # 75B Sur108      Sur No VIS    Sabaneta  Por Definir
588715    MCAPI  Cl. 45 # 75B Sur108      Sur No VIS    Sabaneta  Por Definir

        estrato  ... dene13       pene13  vene13   añomes nene16 dene16  \
0           6.0  ...    NaN  520000000.0     0.0  2020-02    NaN    NaN
1           6.0  ...    NaN  344000000.0     0.0  2020-02    NaN    NaN
2           6.0  ...    NaN  400000000.0     0.0  2020-02    NaN    NaN
3           6.0  ...    NaN  305250000.0     0.0  2020-02    NaN    NaN
4           6.0  ...    NaN  329750000.0     0.0  2020-02    NaN    NaN
...         ...  ...    ...          ...     ...      ...    ...    ...
588711      4.0  ...    NaN          NaN     NaN  2022-01    NaN    NaN
588712      4.0  ...    NaN          NaN     NaN  2022-01    NaN    NaN
588713      4.0  ...    NaN          NaN     NaN  2022-01    NaN    NaN
588714      4.0  ...    NaN          NaN     NaN  2022-01    NaN    NaN
588715      4.0  ...    NaN          NaN     NaN  2022-01    NaN    NaN

        pene16  vene16  baños completos baños sin terminar
0          NaN     NaN              NaN                NaN
1          NaN     NaN              NaN                NaN
2          NaN     NaN              NaN                NaN
3          NaN     NaN              NaN                NaN
4          NaN     NaN              NaN                NaN
...        ...     ...              ...                ...
588711     NaN     NaN              NaN                NaN
588712     NaN     NaN              NaN                NaN
588713     NaN     NaN              NaN                NaN
588714     NaN     NaN              NaN                NaN
588715     NaN     NaN              NaN                NaN

[588716 rows x 42 columns]

## Limpieza de los datos

In [4]:
import pandas as pd

In [3]:
df

,codinmueble,codproyecto,proyecto,vende,codvende,dirección,zona,sub zona,financiera,estrato,...,dene13,pene13,vene13,añomes,nene16,dene16,pene16,vene16,baños completos,baños sin terminar
0,60000,60000,Santa Clara,Londoño Gomez,MLOGO,Cl. 7B # 27- 30,Med. No VIS,El Poblado,Por Definir,6.0,...,NaN,520000000.0,0.0,2020-02,NaN,NaN,NaN,NaN,NaN,NaN
1,60001,60001,Santa María del Bosque,Londoño Gomez,MLOGO,Cr. 27 # 7B - 180,Med. No VIS,El Poblado,BBVA,6.0,...,NaN,344000000.0,0.0,2020-02,NaN,NaN,NaN,NaN,NaN,NaN
2,60540,60001,Santa María del Bosque,Londoño Gomez,MLOGO,Cr. 27 # 7B - 180,Med. No VIS,El Poblado,BBVA,6.0,...,NaN,400000000.0,0.0,2020-02,NaN,NaN,NaN,NaN,NaN,NaN
3,60002,60002,Quinta Avenida,Londoño Gomez,MLOGO,Cl. 5A # 39-62,Med. No VIS,El Poblado,No Necesita,6.0,...,NaN,305250000.0,0.0,2020-02,NaN,NaN,NaN,NaN,NaN,NaN
4,60003,60002,Quinta Avenida,Londoño Gomez,MLOGO,Cl. 5A # 39-62,Med. No VIS,El Poblado,No Necesita,6.0,...,NaN,329750000.0,0.0,2020-02,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588711,362597,62891,Ruta 39 Living,Plan Inmobiliario,MPLAN,Cl. 39 X Cr. 61,Oriente No VIS,Rionegro,Por Definir,4.0,...,NaN,NaN,NaN,2022-01,NaN,NaN,NaN,NaN,NaN,NaN
588712,362598,62891,Ruta 39 Living,Plan Inmobiliario,MPLAN,Cl. 39 X Cr. 61,Oriente No VIS,Rionegro,Por Definir,4.0,...,NaN,NaN,NaN,2022-01,NaN,NaN,NaN,NaN,NaN,NaN
588713,362615,62892,Nature Bio Apartamentos,Const. Capital,MCAPI,Cl. 45 # 75B Sur108,Sur No VIS,Sabaneta,Por Definir,4.0,...,NaN,NaN,NaN,2022-01,NaN,NaN,NaN,NaN,NaN,NaN
588714,362616,62892,Nature Bio Apartamentos,Const. Capital,MCAPI,Cl. 45 # 75B Sur108,Sur No VIS,Sabaneta,Por Definir,4.0,...,NaN,NaN,NaN,2022-01,NaN,NaN,NaN,NaN,NaN,NaN
588715,362617,62892,Nature Bio Apartamentos,Const. Capital,MCAPI,Cl. 45 # 75B Sur108,Sur No VIS,Sabaneta,Por Definir,4.0,...,NaN,NaN,NaN,2022-01,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.columns

Index(['codinmueble', 'codproyecto', 'proyecto', 'vende', 'codvende',
       'dirección', 'zona', 'sub zona', 'financiera', 'estrato', 'tipo',
       'area', 'alc.', 'baños', '# gar.', 'piso', 'meses cuota inicial inm.',
       'area patio', 'area lote / jardin', 'area terraza o balcon',
       'estudio/estar', 'c y b serv.', 'depósito', 'garaje', 'valor garaje',
       'tipo garaje adicional', 'valor garaje adicional', 'tipo vis', 'prev.',
       'const.', 'ter.', 'nene13', 'dene13', 'pene13', 'vene13', 'añomes',
       'nene16', 'dene16', 'pene16', 'vene16', 'baños completos',
       'baños sin terminar'],
      dtype='object')

In [ ]:
df[['codinmueble', 'codproyecto', 'proyecto', 'vende', 'codvende',
'dirección', 'zona', 'sub zona','estrato', 'tipo',
'area', 'alc.', 'baños', '# gar.', 'piso', 'meses cuota inicial inm.',
'area patio', 'area lote / jardin']].describe()

,codinmueble,codproyecto,estrato,area,alc.,baños,meses cuota inicial inm.,area patio,area lote / jardin
count,588716.000000,588716.000000,586947.000000,586951.000000,588712.000000,588716.000000,198690.000000,500480.000000,588171.000000
mean,83553.503487,61285.682643,4.514643,147.893177,4.285394,2.255313,319.477719,1.976827,5.227993
std,72001.636219,750.720493,1.056284,462.160239,65.700266,1.096829,816.498371,19.031160,75.071310
min,60000.000000,60000.000000,2.000000,6.000000,0.000000,0.000000,0.000000,-31.950000,-80.000000
25%,62607.000000,60619.000000,4.000000,63.000000,2.000000,2.000000,7.000000,0.000000,0.000000
50%,65133.000000,61283.000000,4.000000,81.000000,3.000000,2.000000,25.000000,0.000000,0.000000
75%,67824.000000,61929.000000,5.000000,116.000000,3.000000,3.000000,401.000000,0.000000,0.000000
max,362928.000000,62944.000000,6.000000,28000.000000,6788.000000,220.000000,9929.000000,2101.000000,3677.000000

In [ ]:
df[['area terraza o balcon',
'estudio/estar', 'c y b serv.', 'depósito', 'garaje', 'valor garaje',
'tipo garaje adicional', 'valor garaje adicional', 'tipo vis']].describe()

,area terraza o balcon,estudio/estar,c y b serv.,depósito,garaje,valor garaje,tipo garaje adicional,valor garaje adicional,tipo vis
count,588687,588635,588553,588614,588629,588529,587887,587410,588340
unique,1236,1171,104,24,76,302,255,152,139
top,0,Estudio,No,1,Cubierto Sencillo,0,No Tiene,0,No Vis
freq,240547,196423,391582,260973,146217,67273,323012,322381,344527

In [ ]:
df[['prev.',
'const.', 'ter.', 'nene13', 'dene13', 'pene13', 'vene13', 'añomes',
'nene16', 'dene16', 'pene16', 'vene16', 'baños completos',
'baños sin terminar']].describe()

,prev.,const.,ter.,dene13,pene13,vene13,nene16,dene16,pene16,vene16,baños completos,baños sin terminar
count,3.846740e+05,583148.000000,584644.000000,57254.000000,2.795990e+05,4.301210e+05,4.680000e+02,0.0,0.0,0.0,0.0,0.0
mean,3.420869e+03,0.869035,0.207340,14.118909,2.181469e+08,8.579354e+07,1.921799e+08,NaN,NaN,NaN,NaN,NaN
std,2.741768e+05,7.019282,1.923777,22.206799,2.210946e+08,1.887809e+08,1.037221e+08,NaN,NaN,NaN,NaN,NaN
min,0.000000e+00,0.000000,0.000000,-31.000000,0.000000e+00,-2.200000e+01,4.900000e+07,NaN,NaN,NaN,NaN,NaN
25%,0.000000e+00,0.000000,0.000000,2.000000,8.000000e+07,0.000000e+00,1.043500e+08,NaN,NaN,NaN,NaN,NaN
50%,0.000000e+00,0.000000,0.000000,7.000000,1.661285e+08,0.000000e+00,1.554000e+08,NaN,NaN,NaN,NaN,NaN
75%,0.000000e+00,0.000000,0.000000,18.000000,2.858000e+08,1.080000e+08,2.526013e+08,NaN,NaN,NaN,NaN,NaN
max,3.499000e+07,990.000000,218.000000,300.000000,5.138455e+09,5.138455e+09,4.951621e+08,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588716 entries, 0 to 588715
Data columns (total 42 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   codinmueble               588716 non-null  int64
 1   codproyecto               588716 non-null  int64
 2   proyecto                  588716 non-null  object
 3   vende                     588716 non-null  object
 4   codvende                  588716 non-null  object
 5   dirección                 588716 non-null  object
 6   zona                      588716 non-null  object
 7   sub zona                  588716 non-null  object
 8   financiera                588716 non-null  object
 9   estrato                   586947 non-null  float64
 10  tipo                      588716 non-null  object
 11  area                      586951 non-null  float64
 12  alc.                      588712 non-null  float64
 13  baños                     588716 non-null  float64
 14  # gar.                    588716 non-null  object
 15  piso                      588185 non-null  object
 16  meses cuota inicial inm.  198690 non-null  float64
 17  area patio                500480 non-null  float64
 18  area lote / jardin        588171 non-null  float64
 19  area terraza o balcon     588687 non-null  object
 20  estudio/estar             588635 non-null  object
 21  c y b serv.               588553 non-null  object
 22  depósito                  588614 non-null  object
 23  garaje                    588629 non-null  object
 24  valor garaje              588529 non-null  object
 25  tipo garaje adicional     587887 non-null  object
 26  valor garaje adicional    587410 non-null  object
 27  tipo vis                  588340 non-null  object
 28  prev.                     384674 non-null  float64
 29  const.                    583148 non-null  float64
 30  ter.                      584644 non-null  float64
 31  nene13                    212643 non-null  object
 32  dene13                    57254 non-null   float64
 33  pene13                    279599 non-null  float64
 34  vene13                    430121 non-null  float64
 35  añomes                    582854 non-null  object
 36  nene16                    468 non-null     float64
 37  dene16                    0 non-null       float64
 38  pene16                    0 non-null       float64
 39  vene16                    0 non-null       float64
 40  baños completos           0 non-null       float64
 41  baños sin terminar        0 non-null       float64
dtypes: float64(19), int64(2), object(21)
memory usage: 188.6+ MB

In [ ]:
df = df.drop(['dene16', 'pene16', 'vene16', 'baños completos',
'baños sin terminar','meses cuota inicial inm.','proyecto','dirección','prev.','nene13', 'dene13','nene16','vende','financiera'],axis=1)

In [ ]:
df.columns

Index(['codinmueble', 'codproyecto', 'codvende', 'zona', 'sub zona', 'estrato',
       'tipo', 'area', 'alc.', 'baños', '# gar.', 'piso', 'area patio',
       'area lote / jardin', 'area terraza o balcon', 'estudio/estar',
       'c y b serv.', 'depósito', 'garaje', 'valor garaje',
       'tipo garaje adicional', 'valor garaje adicional', 'tipo vis', 'const.',
       'ter.', 'pene13', 'vene13', 'añomes'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588716 entries, 0 to 588715
Data columns (total 28 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   codinmueble             588716 non-null  int64
 1   codproyecto             588716 non-null  int64
 2   codvende                588716 non-null  object
 3   zona                    588716 non-null  object
 4   sub zona                588716 non-null  object
 5   estrato                 586947 non-null  float64
 6   tipo                    588716 non-null  object
 7   area                    586951 non-null  float64
 8   alc.                    588712 non-null  float64
 9   baños                   588716 non-null  float64
 10  # gar.                  588716 non-null  object
 11  piso                    588185 non-null  object
 12  area patio              500480 non-null  float64
 13  area lote / jardin      588171 non-null  float64
 14  area terraza o balcon   588687 non-null  object
 15  estudio/estar           588635 non-null  object
 16  c y b serv.             588553 non-null  object
 17  depósito                588614 non-null  object
 18  garaje                  588629 non-null  object
 19  valor garaje            588529 non-null  object
 20  tipo garaje adicional   587887 non-null  object
 21  valor garaje adicional  587410 non-null  object
 22  tipo vis                588340 non-null  object
 23  const.                  583148 non-null  float64
 24  ter.                    584644 non-null  float64
 25  pene13                  279599 non-null  float64
 26  vene13                  430121 non-null  float64
 27  añomes                  582854 non-null  object
dtypes: float64(10), int64(2), object(16)
memory usage: 125.8+ MB

In [ ]:
df['pene13'] = df['pene13'].fillna(0)
df['vene13'] = df['vene13'].fillna(0)
df['area patio'] = df['area patio'].fillna(0)
df['pene13']= df['pene13'].astype(float)
df['vene13']= df['vene13'].astype(float)

In [ ]:
df['precio'] = df['pene13']+df['vene13']
df = df.drop(['pene13', 'vene13'],axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588716 entries, 0 to 588715
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   codinmueble             588716 non-null  int64
 1   codproyecto             588716 non-null  int64
 2   codvende                588716 non-null  object
 3   zona                    588716 non-null  object
 4   sub zona                588716 non-null  object
 5   estrato                 586947 non-null  float64
 6   tipo                    588716 non-null  object
 7   area                    586951 non-null  float64
 8   alc.                    588712 non-null  float64
 9   baños                   588716 non-null  float64
 10  # gar.                  588716 non-null  object
 11  piso                    588185 non-null  object
 12  area patio              588716 non-null  float64
 13  area lote / jardin      588171 non-null  float64
 14  area terraza o balcon   588687 non-null  object
 15  estudio/estar           588635 non-null  object
 16  c y b serv.             588553 non-null  object
 17  depósito                588614 non-null  object
 18  garaje                  588629 non-null  object
 19  valor garaje            588529 non-null  object
 20  tipo garaje adicional   587887 non-null  object
 21  valor garaje adicional  587410 non-null  object
 22  tipo vis                588340 non-null  object
 23  const.                  583148 non-null  float64
 24  ter.                    584644 non-null  float64
 25  añomes                  582854 non-null  object
 26  precio                  588716 non-null  float64
dtypes: float64(9), int64(2), object(16)
memory usage: 121.3+ MB

In [ ]:
def fecha(var):
    if '-' in var:
        return var
    else:
        return 0

In [ ]:
df['añomes'] = df['añomes'].astype(str).apply(fecha)
df.drop(df[df['añomes'] == 0].index, inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 581935 entries, 0 to 588715
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   codinmueble             581935 non-null  int64
 1   codproyecto             581935 non-null  int64
 2   codvende                581935 non-null  object
 3   zona                    581935 non-null  object
 4   sub zona                581935 non-null  object
 5   estrato                 581935 non-null  float64
 6   tipo                    581935 non-null  object
 7   area                    581935 non-null  float64
 8   alc.                    581935 non-null  float64
 9   baños                   581935 non-null  float64
 10  # gar.                  581935 non-null  object
 11  piso                    581404 non-null  object
 12  area patio              581935 non-null  float64
 13  area lote / jardin      581609 non-null  float64
 14  area terraza o balcon   581906 non-null  object
 15  estudio/estar           581854 non-null  object
 16  c y b serv.             581772 non-null  object
 17  depósito                581833 non-null  object
 18  garaje                  581848 non-null  object
 19  valor garaje            581748 non-null  object
 20  tipo garaje adicional   581106 non-null  object
 21  valor garaje adicional  580629 non-null  object
 22  tipo vis                581559 non-null  object
 23  const.                  581906 non-null  float64
 24  ter.                    581903 non-null  float64
 25  añomes                  581935 non-null  object
 26  precio                  581935 non-null  float64
dtypes: float64(9), int64(2), object(16)
memory usage: 124.3+ MB

In [ ]:
df.drop(df[df['precio']==0].index, inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 385565 entries, 0 to 587476
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   codinmueble             385565 non-null  int64
 1   codproyecto             385565 non-null  int64
 2   codvende                385565 non-null  object
 3   zona                    385565 non-null  object
 4   sub zona                385565 non-null  object
 5   estrato                 385565 non-null  float64
 6   tipo                    385565 non-null  object
 7   area                    385565 non-null  float64
 8   alc.                    385565 non-null  float64
 9   baños                   385565 non-null  float64
 10  # gar.                  385565 non-null  object
 11  piso                    385521 non-null  object
 12  area patio              385565 non-null  float64
 13  area lote / jardin      385565 non-null  float64
 14  area terraza o balcon   385565 non-null  object
 15  estudio/estar           385565 non-null  object
 16  c y b serv.             385565 non-null  object
 17  depósito                385565 non-null  object
 18  garaje                  385565 non-null  object
 19  valor garaje            385565 non-null  object
 20  tipo garaje adicional   385565 non-null  object
 21  valor garaje adicional  385565 non-null  object
 22  tipo vis                385565 non-null  object
 23  const.                  385563 non-null  float64
 24  ter.                    385547 non-null  float64
 25  añomes                  385565 non-null  object
 26  precio                  385565 non-null  float64
dtypes: float64(9), int64(2), object(16)
memory usage: 82.4+ MB

In [ ]:
df['area patio'].fillna(0)

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
586739    0.0
587473    0.0
587474    0.0
587475    0.0
587476    0.0
Name: area patio, Length: 385565, dtype: float64

In [ ]:
df['estudio/estar'].groupby(df['estudio/estar']).count()

estudio/estar
 Estudio            9
-0.9               19
-0.97              19
-1               1444
-1.4               19
                ...
Estudio          1848
No             121656
No               1806
Si                 90
Si Incluido       361
Name: estudio/estar, Length: 268, dtype: int64

In [ ]:
def estudio(var):
    if 'No' in var:
        return 0
    elif var==0:
        return 0
    else:
        return 1

In [ ]:
df['estudio/estar'] = df['estudio/estar'].apply(estudio)
df['estudio/estar'].groupby(df['estudio/estar']).count()

estudio/estar
0    123462
1    262103
Name: estudio/estar, dtype: int64

In [ ]:
df

,codinmueble,codproyecto,codvende,zona,sub zona,estrato,tipo,area,alc.,baños,...,depósito,garaje,valor garaje,tipo garaje adicional,valor garaje adicional,tipo vis,const.,ter.,añomes,precio
0,60000,60000,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,301.00,3.0,4.0,...,1,Cubierto Independiente,Incluído,No Tiene,0,No Vis,0.0,0.0,2020-02,520000000.0
1,60001,60001,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,217.00,3.0,4.0,...,1,Cubierto Independiente,Incluído,No Tiene,0,No Vis,0.0,0.0,2020-02,344000000.0
2,60540,60001,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,250.00,3.0,4.0,...,1,Cubierto Independiente,Incluído,No Tiene,0,No Vis,0.0,0.0,2020-02,400000000.0
3,60002,60002,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,156.00,3.0,4.0,...,1,Cubierto Independiente,20000000,No Tiene,0,No Vis,0.0,0.0,2020-02,305250000.0
4,60003,60002,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,176.00,3.0,4.0,...,1,Cubierto Independiente,20000000,No Tiene,0,No Vis,0.0,0.0,2020-02,329750000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586739,66552,61499,MOPTI,Sur No VIS,Envigado,5.0,Apto.,74.00,3.0,2.0,...,No,1,Cubierto Sencillo,16800000,Lineal Cubierto,26000000,0.0,0.0,2021-07,252885001.0
587473,67581,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,59.15,3.0,2.0,...,No,1,Cub. Sencillo,Incluído,No Tiene,0,0.0,0.0,2022-01,222608011.0
587474,67582,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,70.10,3.0,2.0,...,No,1,Cub. Sencillo,Incluído,No Tiene,0,0.0,0.0,2022-01,267053434.0
587475,67583,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,78.65,3.0,2.0,...,No,1,Cub. Sencillo,Incluído,No Tiene,0,0.0,0.0,2022-01,292296241.0
587476,67584,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,81.20,3.0,2.0,...,No,1,Cub. Sencillo,Incluído,No Tiene,0,0.0,0.0,2022-01,300858823.0

In [ ]:
df = df.drop(['valor garaje', 'tipo garaje adicional', 'valor garaje adicional', '# gar.','tipo vis'],axis=1)

In [ ]:
df

,codinmueble,codproyecto,codvende,zona,sub zona,estrato,tipo,area,alc.,baños,...,area lote / jardin,area terraza o balcon,estudio/estar,c y b serv.,depósito,garaje,const.,ter.,añomes,precio
0,60000,60000,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,301.00,3.0,4.0,...,0.0,-14,1,Si,1,Cubierto Independiente,0.0,0.0,2020-02,520000000.0
1,60001,60001,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,217.00,3.0,4.0,...,0.0,-14,1,Si,1,Cubierto Independiente,0.0,0.0,2020-02,344000000.0
2,60540,60001,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,250.00,3.0,4.0,...,0.0,-14,1,Si,1,Cubierto Independiente,0.0,0.0,2020-02,400000000.0
3,60002,60002,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,156.00,3.0,4.0,...,0.0,-23,1,Si,1,Cubierto Independiente,0.0,0.0,2020-02,305250000.0
4,60003,60002,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,176.00,3.0,4.0,...,0.0,-23,1,Si,1,Cubierto Independiente,0.0,0.0,2020-02,329750000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586739,66552,61499,MOPTI,Sur No VIS,Envigado,5.0,Apto.,74.00,3.0,2.0,...,0.0,0,1,Estudio,No,1,0.0,0.0,2021-07,252885001.0
587473,67581,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,59.15,3.0,2.0,...,0.0,0,1,No,No,1,0.0,0.0,2022-01,222608011.0
587474,67582,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,70.10,3.0,2.0,...,0.0,0,1,Estudio,No,1,0.0,0.0,2022-01,267053434.0
587475,67583,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,78.65,3.0,2.0,...,0.0,0,1,Estudio,No,1,0.0,0.0,2022-01,292296241.0
587476,67584,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,81.20,3.0,2.0,...,0.0,0,1,Estudio,No,1,0.0,0.0,2022-01,300858823.0

In [ ]:
df['const.'].groupby(df['const.']).count()

const.
0.0      382679
1.0         465
2.0         400
3.0         269
4.0         248
          ...
180.0         1
229.0         1
249.0         2
267.0         1
273.0         1
Name: const., Length: 71, dtype: int64

In [ ]:
df['ter.'].groupby(df['ter.']).count()

ter.
0.0     381140
1.0       1590
2.0        777
3.0        462
4.0        264
5.0        257
6.0        159
7.0        140
8.0        127
9.0        113
10.0        97
11.0        86
12.0        48
13.0        29
14.0        49
15.0        28
16.0        20
17.0        18
18.0        15
19.0        32
20.0         9
21.0         6
22.0         6
23.0        12
24.0         7
25.0         3
26.0        11
27.0         4
28.0         1
29.0         8
30.0         1
31.0         2
33.0         4
34.0         1
35.0         3
36.0         1
39.0         2
40.0         1
41.0         1
42.0         6
44.0         1
45.0         4
47.0         2
Name: ter., dtype: int64

In [ ]:
df = df.drop(['const.', 'ter.'],axis=1)

In [ ]:
dfpiso = df[['codproyecto','piso']]
dfpiso.groupby(by=['codproyecto','piso'])
dfpiso = dfpiso.drop_duplicates()
dfpiso.sort_values('codproyecto')

        codproyecto    piso
0             60000       4
30992         60000       2
1             60001       8
30993         60001       2
3             60002       7
...             ...     ...
191521        62615  905 T2
191520        62615     108
191519        62615     808
191518        62615     803
139065        62615       1

[8876 rows x 2 columns]

In [ ]:
df = df.drop(['piso'],axis=1)
df

,codinmueble,codproyecto,codvende,zona,sub zona,estrato,tipo,area,alc.,baños,area patio,area lote / jardin,area terraza o balcon,estudio/estar,c y b serv.,depósito,garaje,añomes,precio
0,60000,60000,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,301.00,3.0,4.0,0.0,0.0,-14,1,Si,1,Cubierto Independiente,2020-02,520000000.0
1,60001,60001,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,217.00,3.0,4.0,0.0,0.0,-14,1,Si,1,Cubierto Independiente,2020-02,344000000.0
2,60540,60001,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,250.00,3.0,4.0,0.0,0.0,-14,1,Si,1,Cubierto Independiente,2020-02,400000000.0
3,60002,60002,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,156.00,3.0,4.0,0.0,0.0,-23,1,Si,1,Cubierto Independiente,2020-02,305250000.0
4,60003,60002,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,176.00,3.0,4.0,0.0,0.0,-23,1,Si,1,Cubierto Independiente,2020-02,329750000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586739,66552,61499,MOPTI,Sur No VIS,Envigado,5.0,Apto.,74.00,3.0,2.0,0.0,0.0,0,1,Estudio,No,1,2021-07,252885001.0
587473,67581,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,59.15,3.0,2.0,0.0,0.0,0,1,No,No,1,2022-01,222608011.0
587474,67582,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,70.10,3.0,2.0,0.0,0.0,0,1,Estudio,No,1,2022-01,267053434.0
587475,67583,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,78.65,3.0,2.0,0.0,0.0,0,1,Estudio,No,1,2022-01,292296241.0
587476,67584,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,81.20,3.0,2.0,0.0,0.0,0,1,Estudio,No,1,2022-01,300858823.0

In [ ]:
df.columns

Index(['codinmueble', 'codproyecto', 'codvende', 'zona', 'sub zona', 'estrato',
       'tipo', 'area', 'alc.', 'baños', 'area patio', 'area lote / jardin',
       'area terraza o balcon', 'estudio/estar', 'c y b serv.', 'depósito',
       'garaje', 'añomes', 'precio'],
      dtype='object')

In [ ]:
df['depósito'].unique()

array(['1', '0', 'No Tiene', 'Sencillo ', '2', '3', '4', 'Si', 'No',
       'Si ', 'No ', 'si', 'B. Serv.', 'WC'], dtype=object)

In [ ]:
def deposito(var):
    if 'No' in var:
        return 0
    elif var==0:
        return 0
    else:
        return 1

In [ ]:
df['depósito'] = df['depósito'].apply(deposito)

In [ ]:
df['c y b serv.'].unique()

array(['Si', 'No', '1', 'Si ', 'No ', 'si', 'Estudio', 'Estudio ',
       'Estar/Estudio', 'Disponible', 'Estar', 'B. Serv.', 'Espacio',
       'WC', ' Estudio'], dtype=object)

In [ ]:
df['c y b serv.'] = df['c y b serv.'].apply(deposito)

In [ ]:
df['garaje'].unique()

array(['Cubierto Independiente', 'Cubierto Sencillo ', 'Comunal',
       'Descubierto', 'Cubierto Lineal ', 'Descubierto Sencillo ',
       'Descubierto Lineal ', 'Cubierto Lineal',
       'Cubierto Lineal+Sencillo ', 'Cub. Lineal', '0', 'Incluído',
       'Cub. Sencillo', 'No Tiene', 'Cubierto Lineal + Independiente',
       'Descubierto Independiente', 'Descubierto Lineal',
       'Cubierto Sencillo', 'Cubierto-Descubierto Independiente',
       'Cubierto Dos Lineales', 'cubierto Sencillo ',
       'No tiene Sencillo ', 'No Tiene Sencillo ', 'Desc. Sencillo', '1',
       'Sencillo ', '2', '3', '4', 'Cubierto-Descubierto Lineal',
       'Independiente Cubierto', 'Cubierto Dos Lineales + Sencillo',
       '1 Cubierto 2 Descubiertos Lineal+Sencillo', 'Descubierto Comunal',
       'Lineal+Sencillo', 'No Tiene ', 'Cub. Lineal+Sencillo ', 'Si',
       'Cub. Lineal+Sencillo', '2 Cubiertos 2 descubiertos Lineal',
       'Cubierto Doble', 'Moto', 'Doble', 'No', '1 a 4', '1 a 7',
       'Descubierto Doble'], dtype=object)

In [ ]:
def garaje(var):
    var = str(var).lower()
    var = var.replace(" ","").replace("cub.","cubierto").replace("desc.","descubierto")
    if 'a' in var:
        return 'comunal'
    elif 'no' in var:
        return 'no'
    elif var=='0':
        return 'no'
    elif var=='2':
        return 'doble'
    elif var=='3':
        return 'triple'
    elif var=='4':
        return 'cuatruple'
    elif var=='incluído':
        return 'sencillo'
    elif var=='si':
        return 'sencillo'
    elif var=='1':
        return 'sencillo'
    else:
        return var

In [ ]:
df['garaje'] = df['garaje'].apply(garaje)

In [ ]:
df['garaje'].unique()

array(['cubiertoindependiente', 'cubiertosencillo', 'comunal',
       'descubierto', 'descubiertosencillo', 'no', 'sencillo',
       'descubiertoindependiente', 'cubierto-descubiertoindependiente',
       'doble', 'triple', 'cuatruple', 'independientecubierto',
       'cubiertodoble', 'moto', 'descubiertodoble'], dtype=object)

In [ ]:
df.describe()

,codinmueble,codproyecto,estrato,area,alc.,baños,area patio,area lote / jardin,estudio/estar,c y b serv.,depósito,precio
count,385565.000000,385565.000000,385565.000000,385565.000000,385565.000000,385565.000000,385565.000000,385565.000000,385565.000000,385565.000000,385565.000000,3.855650e+05
mean,63469.688711,60861.720958,4.683776,139.211191,2.596442,2.347269,0.546001,3.139705,0.679789,0.388881,0.735692,2.536394e+08
std,2123.553546,524.932084,1.035919,376.158283,0.756630,0.971393,4.869844,38.956561,0.466558,0.487497,0.440965,2.310208e+08
min,60000.000000,60000.000000,2.000000,20.000000,0.000000,0.000000,0.000000,-80.000000,0.000000,0.000000,0.000000,1.545000e+07
25%,61632.000000,60428.000000,4.000000,64.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.123000e+08
50%,63410.000000,60811.000000,5.000000,85.000000,3.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.910400e+08
75%,65052.000000,61270.000000,6.000000,125.000000,3.000000,3.000000,0.000000,0.000000,1.000000,1.000000,1.000000,3.139200e+08
max,68969.000000,62615.000000,6.000000,12187.000000,4.000000,6.600000,90.000000,3171.000000,1.000000,1.000000,1.000000,5.138455e+09

In [ ]:
df['area lote / jardin'] = abs(df['area lote / jardin'])

In [ ]:
df.describe()

,codinmueble,codproyecto,estrato,area,alc.,baños,area patio,area lote / jardin,estudio/estar,c y b serv.,depósito,precio
count,385565.000000,385565.000000,385565.000000,385565.000000,385565.000000,385565.000000,385565.000000,385565.000000,385565.000000,385565.000000,385565.000000,3.855650e+05
mean,63469.688711,60861.720958,4.683776,139.211191,2.596442,2.347269,0.546001,3.140535,0.679789,0.388881,0.735692,2.536394e+08
std,2123.553546,524.932084,1.035919,376.158283,0.756630,0.971393,4.869844,38.956494,0.466558,0.487497,0.440965,2.310208e+08
min,60000.000000,60000.000000,2.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.545000e+07
25%,61632.000000,60428.000000,4.000000,64.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.123000e+08
50%,63410.000000,60811.000000,5.000000,85.000000,3.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.910400e+08
75%,65052.000000,61270.000000,6.000000,125.000000,3.000000,3.000000,0.000000,0.000000,1.000000,1.000000,1.000000,3.139200e+08
max,68969.000000,62615.000000,6.000000,12187.000000,4.000000,6.600000,90.000000,3171.000000,1.000000,1.000000,1.000000,5.138455e+09

In [ ]:
df.columns

Index(['codinmueble', 'codproyecto', 'codvende', 'zona', 'sub zona', 'estrato',
       'tipo', 'area', 'alc.', 'baños', 'area patio', 'area lote / jardin',
       'area terraza o balcon', 'estudio/estar', 'c y b serv.', 'depósito',
       'garaje', 'añomes', 'precio'],
      dtype='object')

In [ ]:
df['area terraza o balcon'].unique()

array(['-14', '-23', '0', '-5', '-6', '-7', '-2', '-15', '-8', '-11',
       '-104', '-44', '-10', '-16', '-3', '-36', '-13', '-4', '-9', '-48',
       '-19', '-80', '-37', '-30', '-45', 'No', '-12', '-51', '-24',
       '-82', '-1', '-26', '-22', '-152', '-17', '-54', '-20', '-18',
       '-3.2', '-25', '-35', '-47', '-42', '-21', '-29', '-40', '-79',
       '-160', '-56', '-55', '-429', '-33', '-34', '-52', '-127', '-126',
       '-49', '-57', '-31', '-65', '-58', '-89', '-43', '-39', '-479',
       '-480', '-41', '-72', '-81', '-59', '-95', '-38', '-129', '-295',
       '-46', '-32', '-27', '-64', '-373', '-137', '-62', '-28', '-70',
       '1', '30', '61', '50', '9', '40', '72', '70', '96', '18', '20',
       '25', '24', '31', '38', '36', '37', '6', '64', '80', '60', '15',
       '48', '63', '150', '39', '5', '10', '45', '2777', '1653', '1867',
       '1077', '647', '999', '1003', '651', '23', '540', '-153', '-173',
       '-144', '-159', '-147', '-135', '-143', '-84', '-102', '-187',
       '-66', '-50', '-68', '-69', '-76', '-83', '-75', '-78', '-110',
       '-85', '-86', '-60', '-171', '-77', '-138', '-154', '-63', '-71',
       '-53', '-93', '-100', '16.45', '-3.31', '-6.04', '-124', '127',
       '156', '168', '28', '750.88', '524', '611', '287', '364', '283',
       '392', '1000', '85', '12', '147', '159', '203', '473', '178',
       '435', '386', '3', '31.15', '1500', '225', '91.85', '8', '5.5',
       '91', '447', '200', '347', '205', '539', '497', '380', '2.45',
       '-1.4', '-7.06', '-167', '-90', '-3.38', '-5.76', '28.11', '-9.34',
       '-220', '-139', '-200', '-21.94', '68', '-24.61', '-35.73',
       '-8.23', '69', '-2.05', '-13.13', '-24.86', '-24.3', '-36.54',
       '-5.04', '-11.88', '-19.82', '55.02', '-9.1', '-10.5', '8.76',
       '-3.85', '4.86', '90', '-87', '-6.86', '-6.68', '88', '2.91',
       '2.16', '6.47', '7.26', '7.31', '-9.18', '-25.61', '28.65', '17.5',
       '-6.82', '-18.72', '-8.45', '9.2', '-3.99', '-4.2', '-30.7', '26',
       '43.9', '37.77', '-2.52', '-4.54', '-7.7', '-78.12', '77', '-9.16',
       '-74.65', '42', '28.67', '32.95', '13.35', '7', '14', '163',
       '-5.59', '-4.6', '-2.8', '-70.75', '50.25', '49', '-0.9', '35',
       '14.6', '21.16', '-3.7', '-3.84', '-6.44', '-8.75', '73', '55',
       '-2.43', '-74', '4.6', '-98', '137', '112', '102', '115', '138',
       '910', '201', '162.75', '606.51', '484', '100', '600', '1340.66',
       '99', '300', '365', '580', '618', '157', '170', '185', '330',
       '319.42', '1800', '130', '-20.2', '23.68', '21', '-6.9', '-12.64',
       '-14.27', '-20.23', '-14.2', '-9.45', '-9.65', '-8.3', '-2.5',
       '-3.4', '-2.25', 'D', '13', '51', '43', '-1.85', '-0.97', '-2.55',
       '-2.08', '-6.7', '27', 'Si Incluido', '-3.91', '-6.15', '4.93',
       '-7.93', '1759.53', '1653..51', '1867.66', '74', '1653.51',
       '87.75', '160', '120', '29', '2', '11', '104', '44', '16', '4',
       'Estudio', '19', '82', '22', '152', '17', '54', '47', '79', '56',
       '429', '33', '34', '52', '126', '57', '65', '58', '89', '479',
       '480', '41', '81', '59', '95', '129', '295', '46', '32', '373',
       '62', '153', '173', '144', '135', '143', '84', '187', '66', '76',
       '83', '75', '78', '110', '86', '171', '154', '71', '53', '93',
       '124', '5.55', '167', '98', '220', '139'], dtype=object)

In [ ]:
def balcon(var):
    try:
        var  = float(var)
        return abs(var)
    except ValueError:
        return 0

In [ ]:
df['area terraza o balcon'] = df['area terraza o balcon'].apply(balcon)

In [ ]:
df['area terraza o balcon'].unique()

array([1.40000e+01, 2.30000e+01, 0.00000e+00, 5.00000e+00, 6.00000e+00,
       7.00000e+00, 2.00000e+00, 1.50000e+01, 8.00000e+00, 1.10000e+01,
       1.04000e+02, 4.40000e+01, 1.00000e+01, 1.60000e+01, 3.00000e+00,
       3.60000e+01, 1.30000e+01, 4.00000e+00, 9.00000e+00, 4.80000e+01,
       1.90000e+01, 8.00000e+01, 3.70000e+01, 3.00000e+01, 4.50000e+01,
       1.20000e+01, 5.10000e+01, 2.40000e+01, 8.20000e+01, 1.00000e+00,
       2.60000e+01, 2.20000e+01, 1.52000e+02, 1.70000e+01, 5.40000e+01,
       2.00000e+01, 1.80000e+01, 3.20000e+00, 2.50000e+01, 3.50000e+01,
       4.70000e+01, 4.20000e+01, 2.10000e+01, 2.90000e+01, 4.00000e+01,
       7.90000e+01, 1.60000e+02, 5.60000e+01, 5.50000e+01, 4.29000e+02,
       3.30000e+01, 3.40000e+01, 5.20000e+01, 1.27000e+02, 1.26000e+02,
       4.90000e+01, 5.70000e+01, 3.10000e+01, 6.50000e+01, 5.80000e+01,
       8.90000e+01, 4.30000e+01, 3.90000e+01, 4.79000e+02, 4.80000e+02,
       4.10000e+01, 7.20000e+01, 8.10000e+01, 5.90000e+01, 9.50000e+01,
       3.80000e+01, 1.29000e+02, 2.95000e+02, 4.60000e+01, 3.20000e+01,
       2.70000e+01, 6.40000e+01, 3.73000e+02, 1.37000e+02, 6.20000e+01,
       2.80000e+01, 7.00000e+01, 6.10000e+01, 5.00000e+01, 9.60000e+01,
       6.00000e+01, 6.30000e+01, 1.50000e+02, 2.77700e+03, 1.65300e+03,
       1.86700e+03, 1.07700e+03, 6.47000e+02, 9.99000e+02, 1.00300e+03,
       6.51000e+02, 5.40000e+02, 1.53000e+02, 1.73000e+02, 1.44000e+02,
       1.59000e+02, 1.47000e+02, 1.35000e+02, 1.43000e+02, 8.40000e+01,
       1.02000e+02, 1.87000e+02, 6.60000e+01, 6.80000e+01, 6.90000e+01,
       7.60000e+01, 8.30000e+01, 7.50000e+01, 7.80000e+01, 1.10000e+02,
       8.50000e+01, 8.60000e+01, 1.71000e+02, 7.70000e+01, 1.38000e+02,
       1.54000e+02, 7.10000e+01, 5.30000e+01, 9.30000e+01, 1.00000e+02,
       1.64500e+01, 3.31000e+00, 6.04000e+00, 1.24000e+02, 1.56000e+02,
       1.68000e+02, 7.50880e+02, 5.24000e+02, 6.11000e+02, 2.87000e+02,
       3.64000e+02, 2.83000e+02, 3.92000e+02, 1.00000e+03, 2.03000e+02,
       4.73000e+02, 1.78000e+02, 4.35000e+02, 3.86000e+02, 3.11500e+01,
       1.50000e+03, 2.25000e+02, 9.18500e+01, 5.50000e+00, 9.10000e+01,
       4.47000e+02, 2.00000e+02, 3.47000e+02, 2.05000e+02, 5.39000e+02,
       4.97000e+02, 3.80000e+02, 2.45000e+00, 1.40000e+00, 7.06000e+00,
       1.67000e+02, 9.00000e+01, 3.38000e+00, 5.76000e+00, 2.81100e+01,
       9.34000e+00, 2.20000e+02, 1.39000e+02, 2.19400e+01, 2.46100e+01,
       3.57300e+01, 8.23000e+00, 2.05000e+00, 1.31300e+01, 2.48600e+01,
       2.43000e+01, 3.65400e+01, 5.04000e+00, 1.18800e+01, 1.98200e+01,
       5.50200e+01, 9.10000e+00, 1.05000e+01, 8.76000e+00, 3.85000e+00,
       4.86000e+00, 8.70000e+01, 6.86000e+00, 6.68000e+00, 8.80000e+01,
       2.91000e+00, 2.16000e+00, 6.47000e+00, 7.26000e+00, 7.31000e+00,
       9.18000e+00, 2.56100e+01, 2.86500e+01, 1.75000e+01, 6.82000e+00,
       1.87200e+01, 8.45000e+00, 9.20000e+00, 3.99000e+00, 4.20000e+00,
       3.07000e+01, 4.39000e+01, 3.77700e+01, 2.52000e+00, 4.54000e+00,
       7.70000e+00, 7.81200e+01, 9.16000e+00, 7.46500e+01, 2.86700e+01,
       3.29500e+01, 1.33500e+01, 1.63000e+02, 5.59000e+00, 4.60000e+00,
       2.80000e+00, 7.07500e+01, 5.02500e+01, 9.00000e-01, 1.46000e+01,
       2.11600e+01, 3.70000e+00, 3.84000e+00, 6.44000e+00, 8.75000e+00,
       7.30000e+01, 2.43000e+00, 7.40000e+01, 9.80000e+01, 1.12000e+02,
       1.15000e+02, 9.10000e+02, 2.01000e+02, 1.62750e+02, 6.06510e+02,
       4.84000e+02, 6.00000e+02, 1.34066e+03, 9.90000e+01, 3.00000e+02,
       3.65000e+02, 5.80000e+02, 6.18000e+02, 1.57000e+02, 1.70000e+02,
       1.85000e+02, 3.30000e+02, 3.19420e+02, 1.80000e+03, 1.30000e+02,
       2.02000e+01, 2.36800e+01, 6.90000e+00, 1.26400e+01, 1.42700e+01,
       2.02300e+01, 1.42000e+01, 9.45000e+00, 9.65000e+00, 8.30000e+00,
       2.50000e+00, 3.40000e+00, 2.25000e+00, 1.85000e+00, 9.70000e-01,
       2.55000e+00, 2.08000e+00, 6.70000e+00, 3.91000e+00, 6.15000e+00,
       4.93000e+00, 7.93000e+00, 1.75953e+03, 1.86766e+03, 1.65351e+03,
       8.77500e+01, 1.20000e+02, 5.55000e+00])

In [ ]:
df

,codinmueble,codproyecto,codvende,zona,sub zona,estrato,tipo,area,alc.,baños,area patio,area lote / jardin,area terraza o balcon,estudio/estar,c y b serv.,depósito,garaje,añomes,precio
0,60000,60000,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,301.00,3.0,4.0,0.0,0.0,14.0,1,1,1,cubiertoindependiente,2020-02,520000000.0
1,60001,60001,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,217.00,3.0,4.0,0.0,0.0,14.0,1,1,1,cubiertoindependiente,2020-02,344000000.0
2,60540,60001,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,250.00,3.0,4.0,0.0,0.0,14.0,1,1,1,cubiertoindependiente,2020-02,400000000.0
3,60002,60002,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,156.00,3.0,4.0,0.0,0.0,23.0,1,1,1,cubiertoindependiente,2020-02,305250000.0
4,60003,60002,MLOGO,Med. No VIS,El Poblado,6.0,Apto.,176.00,3.0,4.0,0.0,0.0,23.0,1,1,1,cubiertoindependiente,2020-02,329750000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586739,66552,61499,MOPTI,Sur No VIS,Envigado,5.0,Apto.,74.00,3.0,2.0,0.0,0.0,0.0,1,1,0,sencillo,2021-07,252885001.0
587473,67581,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,59.15,3.0,2.0,0.0,0.0,0.0,1,0,0,sencillo,2022-01,222608011.0
587474,67582,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,70.10,3.0,2.0,0.0,0.0,0.0,1,1,0,sencillo,2022-01,267053434.0
587475,67583,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,78.65,3.0,2.0,0.0,0.0,0.0,1,1,0,sencillo,2022-01,292296241.0
587476,67584,62615,MGLAR,Oriente No VIS,Rionegro,5.0,Apto.,81.20,3.0,2.0,0.0,0.0,0.0,1,1,0,sencillo,2022-01,300858823.0

In [ ]:
df.columns

Index(['codinmueble', 'codproyecto', 'codvende', 'zona', 'sub zona', 'estrato',
       'tipo', 'area', 'alc.', 'baños', 'area patio', 'area lote / jardin',
       'area terraza o balcon', 'estudio/estar', 'c y b serv.', 'depósito',
       'garaje', 'añomes', 'precio'],
      dtype='object')

In [ ]:
df['añomes'].unique()

array(['2020-02', '2020-01', '2019-07', '2020-06', '2017-06', '2017-10',
       '2018-06', '2018-08', '2019-09', '2018-03', '2018-11', '2018-12',
       '2017-09', '2021-05', '2019-06', '2020-09', '2018-01', '2019-05',
       '2020-12', '2020-11', '2020-07', '2021-12', '2017-11', '2021-04',
       '2017-05', '2020-08', '2018-05', '2018-07', '2020-10', '2021-11',
       '2021-08', '2018-04', '2019-01', '2017-08', '2017-12', '2019-11',
       '2018-10', '2018-09', '2019-12', '2021-06', '2019-03', '2017-03',
       '2020-04', '2021-09', '2019-04', '2022-01', '2019-10', '2021-01',
       '2017-04', '2021-10', '2022-03', '2019-02', '2021-03', '2020-03',
       '2021-02', '2017-07', '2020-05', '2018-02', '2019-08', '2022-02',
       '2021-07'], dtype=object)

In [ ]:
df['añomes'] = pd.to_datetime(df['añomes'], format='%Y-%m')

In [ ]:
sorted(df['añomes'].unique())

[numpy.datetime64('2017-03-01T00:00:00.000000000'),
 numpy.datetime64('2017-04-01T00:00:00.000000000'),
 numpy.datetime64('2017-05-01T00:00:00.000000000'),
 numpy.datetime64('2017-06-01T00:00:00.000000000'),
 numpy.datetime64('2017-07-01T00:00:00.000000000'),
 numpy.datetime64('2017-08-01T00:00:00.000000000'),
 numpy.datetime64('2017-09-01T00:00:00.000000000'),
 numpy.datetime64('2017-10-01T00:00:00.000000000'),
 numpy.datetime64('2017-11-01T00:00:00.000000000'),
 numpy.datetime64('2017-12-01T00:00:00.000000000'),
 numpy.datetime64('2018-01-01T00:00:00.000000000'),
 numpy.datetime64('2018-02-01T00:00:00.000000000'),
 numpy.datetime64('2018-03-01T00:00:00.000000000'),
 numpy.datetime64('2018-04-01T00:00:00.000000000'),
 numpy.datetime64('2018-05-01T00:00:00.000000000'),
 numpy.datetime64('2018-06-01T00:00:00.000000000'),
 numpy.datetime64('2018-07-01T00:00:00.000000000'),
 numpy.datetime64('2018-08-01T00:00:00.000000000'),
 numpy.datetime64('2018-09-01T00:00:00.000000000'),
 numpy.datetime64('2018-10-01T00:00:00.000000000'),
 numpy.datetime64('2018-11-01T00:00:00.000000000'),
 numpy.datetime64('2018-12-01T00:00:00.000000000'),
 numpy.datetime64('2019-01-01T00:00:00.000000000'),
 numpy.datetime64('2019-02-01T00:00:00.000000000'),
 numpy.datetime64('2019-03-01T00:00:00.000000000'),
 numpy.datetime64('2019-04-01T00:00:00.000000000'),
 numpy.datetime64('2019-05-01T00:00:00.000000000'),
 numpy.datetime64('2019-06-01T00:00:00.000000000'),
 numpy.datetime64('2019-07-01T00:00:00.000000000'),
 numpy.datetime64('2019-08-01T00:00:00.000000000'),
 numpy.datetime64('2019-09-01T00:00:00.000000000'),
 numpy.datetime64('2019-10-01T00:00:00.000000000'),
 numpy.datetime64('2019-11-01T00:00:00.000000000'),
 numpy.datetime64('2019-12-01T00:00:00.000000000'),
 numpy.datetime64('2020-01-01T00:00:00.000000000'),
 numpy.datetime64('2020-02-01T00:00:00.000000000'),
 numpy.datetime64('2020-03-01T00:00:00.000000000'),
 numpy.datetime64('2020-04-01T00:00:00.000000000'),
 numpy.datetime64('2020-05-01T00:00:00.000000000'),
 numpy.datetime64('2020-06-01T00:00:00.000000000'),
 numpy.datetime64('2020-07-01T00:00:00.000000000'),
 numpy.datetime64('2020-08-01T00:00:00.000000000'),
 numpy.datetime64('2020-09-01T00:00:00.000000000'),
 numpy.datetime64('2020-10-01T00:00:00.000000000'),
 numpy.datetime64('2020-11-01T00:00:00.000000000'),
 numpy.datetime64('2020-12-01T00:00:00.000000000'),
 numpy.datetime64('2021-01-01T00:00:00.000000000'),
 numpy.datetime64('2021-02-01T00:00:00.000000000'),
 numpy.datetime64('2021-03-01T00:00:00.000000000'),
 numpy.datetime64('2021-04-01T00:00:00.000000000'),
 numpy.datetime64('2021-05-01T00:00:00.000000000'),
 numpy.datetime64('2021-06-01T00:00:00.000000000'),
 numpy.datetime64('2021-07-01T00:00:00.000000000'),
 numpy.datetime64('2021-08-01T00:00:00.000000000'),
 numpy.datetime64('2021-09-01T00:00:00.000000000'),
 numpy.datetime64('2021-10-01T00:00:00.000000000'),
 numpy.datetime64('2021-11-01T00:00:00.000000000'),
 numpy.datetime64('2021-12-01T00:00:00.000000000'),
 numpy.datetime64('2022-01-01T00:00:00.000000000'),
 numpy.datetime64('2022-02-01T00:00:00.000000000'),
 numpy.datetime64('2022-03-01T00:00:00.000000000')]

In [ ]:
inflation = pd.read_csv(r"C:\Users\ALEJANDRO RENDON\OneDrive\EAFIT\1 semestre\PI1\inflacion.csv")
inflation['añomes'] = pd.to_datetime(inflation['añomes'], format='%Y-%m')

In [ ]:
df = pd.merge(df, inflation, how='left', on='añomes')
df['precio_deflacionado'] = df['precio'] / df['inflacion']

In [ ]:
df = pd.get_dummies(df,columns=['zona', 'sub zona','tipo','garaje'],drop_first=True)

In [ ]:
df = df.drop_duplicates()
df

,codinmueble,codproyecto,codvende,estrato,area,alc.,baños,area patio,area lote / jardin,area terraza o balcon,...,garaje_descubierto,garaje_descubiertodoble,garaje_descubiertoindependiente,garaje_descubiertosencillo,garaje_doble,garaje_independientecubierto,garaje_moto,garaje_no,garaje_sencillo,garaje_triple
0,60000,60000,MLOGO,6.0,301.00,3.0,4.0,0.0,0.0,14.0,...,0,0,0,0,0,0,0,0,0,0
1,60001,60001,MLOGO,6.0,217.00,3.0,4.0,0.0,0.0,14.0,...,0,0,0,0,0,0,0,0,0,0
2,60540,60001,MLOGO,6.0,250.00,3.0,4.0,0.0,0.0,14.0,...,0,0,0,0,0,0,0,0,0,0
3,60002,60002,MLOGO,6.0,156.00,3.0,4.0,0.0,0.0,23.0,...,0,0,0,0,0,0,0,0,0,0
4,60003,60002,MLOGO,6.0,176.00,3.0,4.0,0.0,0.0,23.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385560,66552,61499,MOPTI,5.0,74.00,3.0,2.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
385561,67581,62615,MGLAR,5.0,59.15,3.0,2.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
385562,67582,62615,MGLAR,5.0,70.10,3.0,2.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
385563,67583,62615,MGLAR,5.0,78.65,3.0,2.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
385564,67584,62615,MGLAR,5.0,81.20,3.0,2.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
df.columns

Index(['codinmueble', 'codproyecto', 'codvende', 'estrato', 'area', 'alc.',
       'baños', 'area patio', 'area lote / jardin', 'area terraza o balcon',
       'estudio/estar', 'c y b serv.', 'depósito', 'añomes', 'precio',
       'inflacion', 'precio_deflacionado', 'zona_Med. No VIS',
       'zona_Med. No Vis', 'zona_Med. VIS', 'zona_Med. Vis',
       'zona_Norte No VIS', 'zona_Norte VIS', 'zona_Occidente VIS',
       'zona_Oriente No VIS', 'zona_Oriente VIS', 'zona_Sur No VIS',
       'zona_Sur VIS', 'sub zona_Belén', 'sub zona_Buenos Aires',
       'sub zona_Caldas', 'sub zona_Copacabana',
       'sub zona_El Carmen de Viboral', 'sub zona_El Poblado',
       'sub zona_El Retiro', 'sub zona_Envigado', 'sub zona_Girardota',
       'sub zona_Guarne', 'sub zona_Guayabal', 'sub zona_Itagüí',
       'sub zona_La América', 'sub zona_La Candelaria', 'sub zona_La Ceja',
       'sub zona_La Estrella', 'sub zona_Laureles Estadio',
       'sub zona_Manrique', 'sub zona_Marinilla', 'sub zona_Rionegro',
       'sub zona_Robledo', 'sub zona_Sabaneta',
       'sub zona_San Antonio de Prado', 'sub zona_San Cristobal',
       'sub zona_San Javier', 'sub zona_San Jerónimo',
       'sub zona_Santa Fé de Antioquia', 'sub zona_Sopetrán',
       'sub zona_Villa Hermosa', 'tipo_Casa', 'tipo_Lote', 'garaje_cuatruple',
       'garaje_cubierto-descubiertoindependiente', 'garaje_cubiertodoble',
       'garaje_cubiertoindependiente', 'garaje_cubiertosencillo',
       'garaje_descubierto', 'garaje_descubiertodoble',
       'garaje_descubiertoindependiente', 'garaje_descubiertosencillo',
       'garaje_doble', 'garaje_independientecubierto', 'garaje_moto',
       'garaje_no', 'garaje_sencillo', 'garaje_triple'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 385565 entries, 0 to 385564
Data columns (total 74 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   codinmueble                               385565 non-null  int64
 1   codproyecto                               385565 non-null  int64
 2   codvende                                  385565 non-null  object
 3   estrato                                   385565 non-null  float64
 4   area                                      385565 non-null  float64
 5   alc.                                      385565 non-null  float64
 6   baños                                     385565 non-null  float64
 7   area patio                                385565 non-null  float64
 8   area lote / jardin                        385565 non-null  float64
 9   area terraza o balcon                     385565 non-null  float64
 10  estudio/estar                             385565 non-null  int64
 11  c y b serv.                               385565 non-null  int64
 12  depósito                                  385565 non-null  int64
 13  añomes                                    385565 non-null  datetime64[ns]
 14  precio                                    385565 non-null  float64
 15  inflacion                                 385565 non-null  float64
 16  precio_deflacionado                       385565 non-null  float64
 17  zona_Med. No VIS                          385565 non-null  uint8
 18  zona_Med. No Vis                          385565 non-null  uint8
 19  zona_Med. VIS                             385565 non-null  uint8
 20  zona_Med. Vis                             385565 non-null  uint8
 21  zona_Norte No VIS                         385565 non-null  uint8
 22  zona_Norte VIS                            385565 non-null  uint8
 23  zona_Occidente VIS                        385565 non-null  uint8
 24  zona_Oriente No VIS                       385565 non-null  uint8
 25  zona_Oriente VIS                          385565 non-null  uint8
 26  zona_Sur No VIS                           385565 non-null  uint8
 27  zona_Sur VIS                              385565 non-null  uint8
 28  sub zona_Belén                            385565 non-null  uint8
 29  sub zona_Buenos Aires                     385565 non-null  uint8
 30  sub zona_Caldas                           385565 non-null  uint8
 31  sub zona_Copacabana                       385565 non-null  uint8
 32  sub zona_El Carmen de Viboral             385565 non-null  uint8
 33  sub zona_El Poblado                       385565 non-null  uint8
 34  sub zona_El Retiro                        385565 non-null  uint8
 35  sub zona_Envigado                         385565 non-null  uint8
 36  sub zona_Girardota                        385565 non-null  uint8
 37  sub zona_Guarne                           385565 non-null  uint8
 38  sub zona_Guayabal                         385565 non-null  uint8
 39  sub zona_Itagüí                           385565 non-null  uint8
 40  sub zona_La América                       385565 non-null  uint8
 41  sub zona_La Candelaria                    385565 non-null  uint8
 42  sub zona_La Ceja                          385565 non-null  uint8
 43  sub zona_La Estrella                      385565 non-null  uint8
 44  sub zona_Laureles Estadio                 385565 non-null  uint8
 45  sub zona_Manrique                         385565 non-null  uint8
 46  sub zona_Marinilla                        385565 non-null  uint8
 47  sub zona_Rionegro                         385565 non-null  uint8
 48  sub zona_Robledo                          385565 non-null  uint8
 49  sub zona_Sabaneta                         385565 non-null  uint8
 50  sub zona_San Antonio de Prado             385565 non-null  uint8
 51  sub zona_San Cristobal                    385565 non-null  uint8
 52  sub zona_San Javier                       385565 non-null  uint8
 53  sub zona_San Jerónimo                     385565 non-null  uint8
 54  sub zona_Santa Fé de Antioquia            385565 non-null  uint8
 55  sub zona_Sopetrán                         385565 non-null  uint8
 56  sub zona_Villa Hermosa                    385565 non-null  uint8
 57  tipo_Casa                                 385565 non-null  uint8
 58  tipo_Lote                                 385565 non-null  uint8
 59  garaje_cuatruple                          385565 non-null  uint8
 60  garaje_cubierto-descubiertoindependiente  385565 non-null  uint8
 61  garaje_cubiertodoble                      385565 non-null  uint8
 62  garaje_cubiertoindependiente              385565 non-null  uint8
 63  garaje_cubiertosencillo                   385565 non-null  uint8
 64  garaje_descubierto                        385565 non-null  uint8
 65  garaje_descubiertodoble                   385565 non-null  uint8
 66  garaje_descubiertoindependiente           385565 non-null  uint8
 67  garaje_descubiertosencillo                385565 non-null  uint8
 68  garaje_doble                              385565 non-null  uint8
 69  garaje_independientecubierto              385565 non-null  uint8
 70  garaje_moto                               385565 non-null  uint8
 71  garaje_no                                 385565 non-null  uint8
 72  garaje_sencillo                           385565 non-null  uint8
 73  garaje_triple                             385565 non-null  uint8
dtypes: datetime64[ns](1), float64(10), int64(5), object(1), uint8(57)
memory usage: 73.9+ MB

In [ ]:
df.to_csv(r"C:\Users\ALEJANDRO RENDON\Desktop\baseformuladalimpia.csv")