### Preparaci√≥n de ambiente

#### Lectura de archivos desde S3

In [ ]:
!pip3 install boto3

In [ ]:
import os

import boto3
import pandas as pd


AWS_S3_BUCKET = "g6-datalake-proyectointegrador"
AWS_ACCESS_KEY_ID = "ASIA3T2YJ54QMMRGILWT"
AWS_SECRET_ACCESS_KEY = "Dr8iICRJJk9aJi8atKj0nLJXJRh/qtfTf8ugSX8f"
AWS_SESSION_TOKEN = "FwoGZXIvYXdzEC4aDG1QURO1yU/tAWQqBiLIAZmRaFPqbKGNFEfzb2u0NgJ4UuEgU5n1wmwa3EKrurUwuQvptotqPmZoMjzExLEmgSljb/tKkEx3TdjMbIpvTjGz+zvEAtOUK9jdjzGXv8drLKyZoSd1uA0i/UdLG2h5gmZr6gMDNlhK7YFNCJ86aBhsUL5/xb/AJTL19uLLnHNDMqGXkLO064zk/1T8vcCG9+edjzYvkotprbl1Ds+zbqUN91u9bflpqFa7jCoPMYLAC0g+MupfvIrh74XknGn+1E5zBA1YJeMjKNOGi5UGMi3SMjRomuPGxylmjoqtH9w1hGk8hf8NegGholc0JoO20hXi4gQr03/1IDc2NuQ="

s3_client = boto3.client(
    "s3",
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
    aws_session_token=AWS_SESSION_TOKEN,
)

response = s3_client.get_object(Bucket=AWS_S3_BUCKET, Key="02_RawZone/ServComSegmentada/Serv. Com.2017.csv")

status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")

if status == 200:
    print(f"Successful S3 get_object response. Status - {status}")
    df = pd.read_csv(response.get("Body"), encoding='UTF-8')
    #print(df)
else:
    print(f"Unsuccessful S3 get_object response. Status - {status}")


response1 = s3_client.get_object(Bucket=AWS_S3_BUCKET, Key="02_RawZone/ServComSegmentada/Serv. Com.2018.csv")

status = response1.get("ResponseMetadata", {}).get("HTTPStatusCode")

if status == 200:
    print(f"Successful S3 get_object response. Status - {status}")
    df1 = pd.read_csv(response1.get("Body"), encoding='UTF-8')
    #print(df)
else:
    print(f"Unsuccessful S3 get_object response. Status - {status}")


response2 = s3_client.get_object(Bucket=AWS_S3_BUCKET, Key="02_RawZone/ServComSegmentada/Serv. Com.2019.csv")

status = response2.get("ResponseMetadata", {}).get("HTTPStatusCode")

if status == 200:
    print(f"Successful S3 get_object response. Status - {status}")
    df2 = pd.read_csv(response2.get("Body"), encoding='UTF-8')
    #print(df)
else:
    print(f"Unsuccessful S3 get_object response. Status - {status}")



response3 = s3_client.get_object(Bucket=AWS_S3_BUCKET, Key="02_RawZone/ServComSegmentada/Serv. Com.2020.csv")

status = response3.get("ResponseMetadata", {}).get("HTTPStatusCode")

if status == 200:
    print(f"Successful S3 get_object response. Status - {status}")
    df3 = pd.read_csv(response3.get("Body"), encoding='UTF-8')
    #print(df)
else:
    print(f"Unsuccessful S3 get_object response. Status - {status}")



response4 = s3_client.get_object(Bucket=AWS_S3_BUCKET, Key="02_RawZone/ServComSegmentada/Serv. Com.2021.csv")

status = response4.get("ResponseMetadata", {}).get("HTTPStatusCode")

if status == 200:
    print(f"Successful S3 get_object response. Status - {status}")
    df4 = pd.read_csv(response4.get("Body"), encoding='UTF-8')
    #print(df)
else:
    print(f"Unsuccessful S3 get_object response. Status - {status}")



response5 = s3_client.get_object(Bucket=AWS_S3_BUCKET, Key="02_RawZone/ServComSegmentada/Serv. Com.2022.csv")

status = response5.get("ResponseMetadata", {}).get("HTTPStatusCode")

if status == 200:
    print(f"Successful S3 get_object response. Status - {status}")
    df5 = pd.read_csv(response5.get("Body"), encoding='UTF-8')
    #print(df)
else:
    print(f"Unsuccessful S3 get_object response. Status - {status}")

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df.shape

(22005, 58)

In [ ]:
df1.shape

(28253, 58)

In [ ]:
df2.shape

(28661, 58)

In [ ]:
df3.shape

(31366, 58)

In [ ]:
df4.shape

(33128, 58)

In [ ]:
df5.shape

(8608, 58)

In [ ]:
df = df.append(df1, ignore_index = True)

In [ ]:
df.shape

(50258, 58)

In [ ]:
df = df.append(df2, ignore_index = True)

In [ ]:
df.shape

(78919, 58)

In [ ]:
df = df.append(df3, ignore_index = True)

In [ ]:
df.shape

(110285, 58)

In [ ]:
df = df.append(df4, ignore_index = True)

In [ ]:
df.shape

(143413, 58)

In [ ]:
df = df.append(df5, ignore_index = True)

In [ ]:
df.shape

(152021, 58)

### Exploraci√≥n b√°sica del Dataset

In [ ]:
df.head(10)

,Codproyecto,Proyecto,Zona,Coc. Integral,Extractor,Inst. Lavad.,Inst. Secad.,Estufa Gas,Estufa El√©c.,Horno Gas,...,Mueble Lavamanos,Lavad.,Aire Acond.,Prima Altura,Descripci√≥n Combo acabados,Descripcion del Proyecto,Muros Interiores,Tipo De Sanitario Alcoba Princ.,Activo,A√±oMes
0,60000,Santa Clara,Med. No VIS,Si,Si,Si,Si,Si,Si,No,...,Madecor,Granito Pulido,NaN,0,Acabado Total,Vendido,NaN,NaN,No,2017-03
1,60001,Santa Mar√≠a del Bosque,Med. No VIS,Si,Si,Si,Si,Si,Si,No,...,Madecor,Granito Pulido,NaN,Sin Prima de Altura,Acabado Total,"3 Torres, 18,19 Pisos, 2 x Piso, Total 112 Aptos.",NaN,NaN,No,2017-03
2,60002,Quinta Avenida,Med. No VIS,Si,Si,Si,Si,Si,Si,No,...,Madecor,Granito Pulido,NaN,"$500,000 por piso a partir del quinto",Acabado Total,"1 Torre, 17 Pisos, 2 x Piso, Total 34",NaN,NaN,No,2017-03
3,60003,California de El Poblado,Med. No VIS,Si,No,Si,No,Si,Si,No,...,No Tiene,Granito Pulido,NaN,0,Acabado Total,Vendido,NaN,NaN,No,2017-03
4,60004,Providencia,Med. No VIS,Si,No,Si,No,Si,Si,No,...,Madecor,Granito Pulido,NaN,0,Acabado Total,"6 Torres, 11 Pisos, 4 x Piso, Total 256 Aptos.",NaN,NaN,No,2017-03
5,60005,Castropolo In,Med. No VIS,Si,No,Si,Si,Si,Si,No,...,No Tiene,Granito Pulido,NaN,0,Acabado Total,"1 Torres, 12 Pisos, 8 x Piso, Duplex, Total 48...",NaN,NaN,No,2017-03
6,60006,Almendros de Terranova,Norte VIS,No,No,Si,Si,No,No,No,...,No Tiene,Granito Pulido,NaN,0,Obra Negra,Conjunto Cerrado de 350 Casas,NaN,NaN,No,2017-03
7,60007,Nogales 1,Norte VIS,No,No,Si,Si,No,No,No,...,No Tiene,Granito Pulido,NaN,0,Obra Negra,Conjunto Cerrado de 200 casas y Conjunto abier...,NaN,NaN,No,2017-03
8,60008,Rosales,Norte VIS,No,No,Si,Si,No,No,No,...,No Tiene,Granito Pulido,NaN,$50.000 x Piso a partir del 5¬∫ Piso-Prima Vist...,Obra Negra,Conjunto Cerrado de 252 casas y Conjunto abier...,NaN,NaN,No,2017-03
9,60009,San Francisco 1,Norte VIS,No,No,Si,Si,No,No,No,...,No Tiene,Cemento,NaN,$600.000 x Piso a partir del 3¬∫ Piso,Obra Negra,Conjunto Cerrado de 776 casas,NaN,NaN,No,2017-03

In [ ]:
df.tail()

,Codproyecto,Proyecto,Zona,Coc. Integral,Extractor,Inst. Lavad.,Inst. Secad.,Estufa Gas,Estufa El√©c.,Horno Gas,...,Mueble Lavamanos,Lavad.,Aire Acond.,Prima Altura,Descripci√≥n Combo acabados,Descripcion del Proyecto,Muros Interiores,Tipo De Sanitario Alcoba Princ.,Activo,A√±oMes
152016,62864,Cielo Campestre Lotes,Campestre,No,No,No,NaN,No,NaN,No,...,No,No,No,0,No,NaN,NaN,NaN,NaN,2022-03
152017,62778,Almara Lotes,Campestre,No,No,No,NaN,No,NaN,No,...,No,No,No,No Tiene,No Tiene,NaN,NaN,NaN,NaN,2022-03
152018,61751,Gales*,Norte No VIS,No,No,Lavadora,NaN,No,NaN,No,...,No,Granito Pulido,No,1.000.000 x Piso a partir del 4¬∫ Piso,Obra Negra,NaN,NaN,NaN,NaN,2022-03
152019,61919,Citadela Di Sole*,Campestre,No,No,Lavadora,NaN,No,NaN,No,...,No,No,No,No Tiene,Obra Gris,NaN,NaN,NaN,NaN,2022-03
152020,62273,Lexury Towers Benedictinos,Sur No VIS,Si,Si,Lavadora,NaN,Gas,NaN,Electrico,...,Madecor,Otro,No,Incluida en el valor del inmueble,Acabado Total,NaN,NaN,NaN,NaN,2022-03

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152021 entries, 0 to 152020
Data columns (total 58 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Codproyecto                      152021 non-null  int64
 1   Proyecto                         152021 non-null  object
 2   Zona                             152021 non-null  object
 3   Coc. Integral                    152017 non-null  object
 4   Extractor                        152017 non-null  object
 5   Inst. Lavad.                     152017 non-null  object
 6   Inst. Secad.                     99656 non-null   object
 7   Estufa Gas                       152017 non-null  object
 8   Estufa El√©c.                     99656 non-null   object
 9   Horno Gas                        152017 non-null  object
 10  Horno El√©c.                      99656 non-null   object
 11  Cal. Gas                         152017 non-null  object
 12  Cal. El√©c.                       99656 non-null   object
 13  Chimeneas                        152017 non-null  object
 14  Tinas                            152017 non-null  object
 15  Pta Duchas                       152017 non-null  object
 16  Dep√≥sito                         152017 non-null  object
 17  Porter√≠a                         152021 non-null  object
 18  Sal√≥n Social                     152017 non-null  object
 19  Parque Inf.                      152017 non-null  object
 20  Canchas                          151976 non-null  object
 21  Gimnasio                         152019 non-null  object
 22  Planta El√©ct.                    152008 non-null  object
 23  Ofrece Piscina                   152017 non-null  object
 24  Shut Basuras                     152021 non-null  object
 25  Saunas                           152008 non-null  object
 26  No. Ascensores x Torre           152021 non-null  object
 27  Observaciones Ascensores         1061 non-null    object
 28  BBQ                              22641 non-null   object
 29  Zona Mascotas                    22641 non-null   object
 30  Otro                             136844 non-null  object
 31  Parqueaderos                     151298 non-null  object
 32  Tipo Urbanizacion                152021 non-null  object
 33  Tipo Est.                        152009 non-null  object
 34  Fachada                          152017 non-null  object
 35  Vent.                            152017 non-null  object
 36  Carp. Mad.                       152017 non-null  object
 37  Mueble Cocina                    152017 non-null  object
 38  Mes√≥n Cocina                     152000 non-null  object
 39  Mes√≥n Ba√±os                      152017 non-null  object
 40  Halles Com.                      152017 non-null  object
 41  Halles Viv.                      152017 non-null  object
 42  Piso Alcoba                      52361 non-null   object
 43  Piso Zona Social                 52361 non-null   object
 44  Piso Ba√±o                        52361 non-null   object
 45  Piso Cocina                      52361 non-null   object
 46  Muros Coc.                       152017 non-null  object
 47  Muros Ba√±.                       152017 non-null  object
 48  Mueble Lavamanos                 152017 non-null  object
 49  Lavad.                           152017 non-null  object
 50  Aire Acond.                      22607 non-null   object
 51  Prima Altura                     152018 non-null  object
 52  Descripci√≥n Combo  acabados      151922 non-null  object
 53  Descripcion del Proyecto         99656 non-null   object
 54  Muros Interiores                 29 non-null      object
 55  Tipo De Sanitario Alcoba Princ.  25 non-null      object
 56  Activo                           99656 non-null   object
 57  A√±oMes                           152021 non-null  object
dtypes: int64(1), object(57)
memory usage: 67.3+ MB

In [ ]:
df['Zona'].groupby(df['Zona']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

                Zona  Count
1391     Med. No VIS  54281
2358      Sur No VIS  39877
1393        Med. VIS  14638
506        Campestre  13236
1672  Oriente No VIS  10182
...              ...    ...
933           Finito      1
934            Fiore      1
935       Fiorentina      1
936        Fiorenza*      1
2785          √Årvore      1

[2786 rows x 2 columns]

In [ ]:
df['Coc. Integral'].groupby(df['Coc. Integral']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

  Coc. Integral  Count
6            Si  94284
2            No  57464
5          Semi    116
0             0     98
1    Falta Inf.     42
3   Por Definir     11
4   Por definir      2

In [ ]:
df['Extractor'].groupby(df['Extractor']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

     Extractor  Count
2           No  91664
5           Si  60166
0            0     98
1   Falta Inf.     51
3  Por Definir     36
4  Por definir      2

In [ ]:
df['Inst. Lavad.'].groupby(df['Inst. Lavad.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

  Inst. Lavad.  Count
8           Si  91962
2    Lav./Sec.  31826
3     Lavadora  15725
4           No  12328
0            0     98
7     Secadora     37
1   Falta Inf.     32
5  Por Definir      7
6  Por definir      2

In [ ]:
df['Estufa Gas'].groupby(df['Estufa Gas']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

     Estufa Gas  Count
10           Si  70563
7            No  44399
6         Mixta  26031
4           Gas  10216
1     Electrica    330
8   Por Definir    144
11           si    124
0             0     98
2       Escoger     45
3    Falta Inf.     43
5     Induccion     18
9   Por definir      6

In [ ]:
df['Horno Gas'].groupby(df['Horno Gas']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

      Horno Gas  Count
6            No  92931
9            Si  27486
1     Electrico  18174
5         Mixto  10431
4           Gas   2572
7   Por Definir    179
0             0     98
2       Escoger     62
10           no     42
3    Falta Inf.     36
8   Por definir      6

In [ ]:
df['Cal. Gas'].groupby(df['Cal. Gas']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

      Cal. Gas  Count
5           No  79980
9           Si  48638
2      Escoger  19912
4          Gas   2934
1    Electrico    209
6  Por Definir    126
0            0     98
8        Punto     91
3   Falta Inf.     27
7  Por definir      2

In [ ]:
df['Chimeneas'].groupby(df['Chimeneas']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

     Chimeneas   Count
3           No  148801
8           Si    2893
9           no     126
0            0      98
5       Opci√≥n      42
1   Falta Inf.      27
4       Opcion      20
7  Por definir       5
6  Por Definir       4
2         Le√±a       1

In [ ]:
df['Tinas'].groupby(df['Tinas']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

         Tinas   Count
2           No  142570
5           Si    9308
0            0      98
1   Falta Inf.      27
3  Por Definir       8
4  Por definir       6

In [ ]:
df['Pta Duchas'].groupby(df['Pta Duchas']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

                   Pta Duchas  Count
10               Vidrio Temp.  79921
6                          No  71661
0                           0     98
4   Ba√±o Princ.(Vidrio Temp.)     82
11               vidrio Temp.     82
2                    Acr√≠lico     78
1                    Acrilico     38
5                  Falta Inf.     27
8                 Por Definir     12
3       Ba√±o Princ.(Acrilico)     11
7                    Opcional      5
9                 Por definir      2

In [ ]:
df['Dep√≥sito'].groupby(df['Dep√≥sito']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

      Dep√≥sito  Count
7           Si  83728
2           No  63750
3     Opcional   3943
4       Opci√≥n    462
0            0     98
1   Falta Inf.     27
5  Por Definir      7
6  Por definir      2

In [ ]:
df['Porter√≠a'].groupby(df['Porter√≠a']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

        Porter√≠a   Count
3             Si  138658
1             No   12727
2    Por Definir     343
4  Video Portero     244
5             si      42
0     Falta Inf.       7

In [ ]:
df['Sal√≥n Social'].groupby(df['Sal√≥n Social']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

   Sal√≥n Social  Count
1             1  69075
5             1  39932
0             0  24107
4             0  15311
2             2   1809
6             2   1131
3             3    312
7             3    243
8             4     36
9             6     18
12  Por definir     18
11  Por Definir     17
10   Falta Inf.      8

## Procesamiento

### Procesamiento del DataSet - Ajustes

In [ ]:
#Creamos un respaldo del data frame
df_c = df.copy()

In [ ]:
df_c.shape

(152021, 58)

In [ ]:
# Convert and store in another column
df["A√±oMesU"] = pd.to_datetime(df["A√±oMes"])

# Convert the data type of column 'Date' from string (YYYY/MM/DD) to datetime64
df["A√±oMesU"] =  pd.to_datetime(df["A√±oMesU"], format="%Y%m")

In [ ]:
df.shape

(152021, 59)

Teniendo en cuenta la cantidad de datos faltantes  de algunas columnas del DataSet, se procede a liminalas del data frame

Columnas eliminadas:

* Observaciones Ascensores
* BBQ
* Zona Mascotas
* Piso Alcoba
* Piso Zona Social
* Piso Ba√±o
* Piso Cocina
* Muros Interiores
* Tipo De Sanitario Alcoba Princ.
* Aire Acond.
* A√±oMes

In [ ]:
df = df.drop(['Observaciones Ascensores', 'BBQ', 'Zona Mascotas', 'Piso Alcoba','Piso Zona Social','Piso Ba√±o','Piso Cocina','Muros Interiores','Tipo De Sanitario Alcoba Princ.','Aire Acond.','A√±oMes'],axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152021 entries, 0 to 152020
Data columns (total 48 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Codproyecto                  152021 non-null  int64
 1   Proyecto                     152021 non-null  object
 2   Zona                         152021 non-null  object
 3   Coc. Integral                152017 non-null  object
 4   Extractor                    152017 non-null  object
 5   Inst. Lavad.                 152017 non-null  object
 6   Inst. Secad.                 99656 non-null   object
 7   Estufa Gas                   152017 non-null  object
 8   Estufa El√©c.                 99656 non-null   object
 9   Horno Gas                    152017 non-null  object
 10  Horno El√©c.                  99656 non-null   object
 11  Cal. Gas                     152017 non-null  object
 12  Cal. El√©c.                   99656 non-null   object
 13  Chimeneas                    152017 non-null  object
 14  Tinas                        152017 non-null  object
 15  Pta Duchas                   152017 non-null  object
 16  Dep√≥sito                     152017 non-null  object
 17  Porter√≠a                     152021 non-null  object
 18  Sal√≥n Social                 152017 non-null  object
 19  Parque Inf.                  152017 non-null  object
 20  Canchas                      151976 non-null  object
 21  Gimnasio                     152019 non-null  object
 22  Planta El√©ct.                152008 non-null  object
 23  Ofrece Piscina               152017 non-null  object
 24  Shut Basuras                 152021 non-null  object
 25  Saunas                       152008 non-null  object
 26  No. Ascensores x Torre       152021 non-null  object
 27  Otro                         136844 non-null  object
 28  Parqueaderos                 151298 non-null  object
 29  Tipo Urbanizacion            152021 non-null  object
 30  Tipo Est.                    152009 non-null  object
 31  Fachada                      152017 non-null  object
 32  Vent.                        152017 non-null  object
 33  Carp. Mad.                   152017 non-null  object
 34  Mueble Cocina                152017 non-null  object
 35  Mes√≥n Cocina                 152000 non-null  object
 36  Mes√≥n Ba√±os                  152017 non-null  object
 37  Halles Com.                  152017 non-null  object
 38  Halles Viv.                  152017 non-null  object
 39  Muros Coc.                   152017 non-null  object
 40  Muros Ba√±.                   152017 non-null  object
 41  Mueble Lavamanos             152017 non-null  object
 42  Lavad.                       152017 non-null  object
 43  Prima Altura                 152018 non-null  object
 44  Descripci√≥n Combo  acabados  151922 non-null  object
 45  Descripcion del Proyecto     99656 non-null   object
 46  Activo                       99656 non-null   object
 47  A√±oMesU                      152021 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(46)
memory usage: 55.7+ MB

In [ ]:
# Guardamos las columnas
columnas = df.columns
columnas

Index(['Codproyecto', 'Proyecto', 'Zona', 'Coc. Integral', 'Extractor',
       'Inst. Lavad.', 'Inst. Secad.', 'Estufa Gas', 'Estufa El√©c.',
       'Horno Gas', 'Horno El√©c.', 'Cal. Gas', 'Cal. El√©c.', 'Chimeneas',
       'Tinas', 'Pta Duchas', 'Dep√≥sito', 'Porter√≠a', 'Sal√≥n Social',
       'Parque Inf.', 'Canchas', 'Gimnasio', 'Planta El√©ct.', 'Ofrece Piscina',
       'Shut Basuras', 'Saunas', 'No. Ascensores x Torre', 'Otro',
       'Parqueaderos', 'Tipo Urbanizacion', 'Tipo Est.', 'Fachada', 'Vent.',
       'Carp. Mad.', 'Mueble Cocina', 'Mes√≥n Cocina', 'Mes√≥n Ba√±os',
       'Halles Com.', 'Halles Viv.', 'Muros Coc.', 'Muros Ba√±.',
       'Mueble Lavamanos', 'Lavad.', 'Prima Altura',
       'Descripci√≥n Combo  acabados', 'Descripcion del Proyecto', 'Activo',
       'A√±oMesU'],
      dtype='object')

### Mapeo manual de reglas por cambios en las estructuras de los datos

#### Homologaci√≥n de las variables asociadas a la caracter√≠stica de "Lavadora/Secadora"

Se procede a mapeara los valores de la columna "Inst. Secad." en la columna "Inst. Lavad." para conservar s√≥lo una columna

In [ ]:
df['Inst. Lavad.'].groupby(df['Inst. Lavad.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

  Inst. Lavad.  Count
8           Si  91962
2    Lav./Sec.  31826
3     Lavadora  15725
4           No  12328
0            0     98
7     Secadora     37
1   Falta Inf.     32
5  Por Definir      7
6  Por definir      2

In [ ]:
df['Inst. Secad.'].groupby(df['Inst. Secad.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

  Inst. Secad.  Count
2           Si  69307
0           No  30313
1     Opcional     36

In [ ]:
# Mapeamos los valores de la columna: "Inst. Secad." a la columna "Inst. Lavad." seg√∫n corresponda

df['Inst. Lavad.'] = np.where((df['Inst. Secad.'] == "Si") & (df['Inst. Lavad.'] == 'Si'), "Lav./Sec.", df['Inst. Lavad.'])

In [ ]:
# Renombramos la columna que vamos a conservaar: "Lav-Sec"
df.rename(columns = {'Inst. Lavad.':'Lav-Sec'}, inplace = True)

In [ ]:
# Eliminamos la columna que ya no vamos a utilizar
df.drop('Inst. Secad.', inplace=True, axis=1)

In [ ]:
 # Consultar nuevamente la columna conservada para validar su nueva distribuci√≥n
 df['Lav-Sec'].groupby(df['Lav-Sec']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

       Lav-Sec   Count
2    Lav./Sec.  101092
8           Si   22696
3     Lavadora   15725
4           No   12328
0            0      98
7     Secadora      37
1   Falta Inf.      32
5  Por Definir       7
6  Por definir       2

#### Homologaci√≥n de las variables asociadas a la caracter√≠stica de "Estufa"

Se procede a mapeara los valores de la columna "Estufa El√©c." en la columna "Estufa Gas" para conservar s√≥lo una columna

In [ ]:
df['Estufa Gas'].groupby(df['Estufa Gas']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

     Estufa Gas  Count
10           Si  70563
7            No  44399
6         Mixta  26031
4           Gas  10216
1     Electrica    330
8   Por Definir    144
11           si    124
0             0     98
2       Escoger     45
3    Falta Inf.     43
5     Induccion     18
9   Por definir      6

In [ ]:
df['Estufa El√©c.'].groupby(df['Estufa El√©c.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

  Estufa El√©c.  Count
3           Si  56883
1           No  42551
4           si    124
2  Por Definir     72
0      Escoger     26

Mapeamos los valores de la columna: "Estufa El√©c." a la columna "Estufa Gas" seg√∫n corresponda

In [ ]:
df['Estufa Gas'] = np.where((df['Estufa El√©c.'] == "Si") & (df['Estufa Gas'] == 'Si'), "Mixta", df['Estufa Gas'])

In [ ]:
df['Estufa Gas'] = np.where((df['Estufa El√©c.'] == "si") & (df['Estufa Gas'] == 'si'), "Mixta", df['Estufa Gas'])

In [ ]:
df['Estufa Gas'] = np.where((df['Estufa El√©c.'] == "No") & (df['Estufa Gas'] == 'Si'), "Gas", df['Estufa Gas'])

In [ ]:
df['Estufa Gas'] = np.where((df['Estufa El√©c.'] == "No") & (df['Estufa Gas'] == 'si'), "Gas", df['Estufa Gas'])

In [ ]:
# Renombramos la columna que vamos a conservaar: "Estufa"
df.rename(columns = {'Estufa Gas':'Estufa'}, inplace = True)

In [ ]:
# Eliminamos la columna que ya no vamos a utilizar
df.drop('Estufa El√©c.', inplace=True, axis=1)

In [ ]:
# Consultar nuevamente la columna conservada para validar su nueva distribuci√≥n
df['Estufa'].groupby(df['Estufa']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

        Estufa  Count
6        Mixta  82519
7           No  44399
4          Gas  24415
1    Electrica    330
8  Por Definir    144
0            0     98
2      Escoger     45
3   Falta Inf.     43
5    Induccion     18
9  Por definir      6

#### Homologaci√≥n de las variables asociadas a la caracter√≠stica de "Horno"

In [ ]:
df['Horno Gas'].groupby(df['Horno Gas']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

      Horno Gas  Count
6            No  92931
9            Si  27486
1     Electrico  18174
5         Mixto  10431
4           Gas   2572
7   Por Definir    179
0             0     98
2       Escoger     62
10           no     42
3    Falta Inf.     36
8   Por definir      6

In [ ]:
df['Horno El√©c.'].groupby(df['Horno El√©c.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

   Horno El√©c.  Count
3           Si  57723
1           No  41799
2  Por Definir     91
0      Escoger     43

Mapeamos los valores de la columna: "Horno El√©c." a la columna "Horno Gas" seg√∫n corresponda

In [ ]:
df['Horno Gas'] = np.where((df['Horno El√©c.'] == "Si") & (df['Horno Gas'] == 'Si'), "Mixto", df['Horno Gas'])

In [ ]:
df['Horno Gas'] = np.where((df['Horno El√©c.'] == "No") & (df['Horno Gas'] == 'Si'), "Gas", df['Horno Gas'])

In [ ]:
# Renombramos la columna que vamos a conservaar: "Horno"
df.rename(columns = {'Horno Gas':'Horno'}, inplace = True)

In [ ]:
# Eliminamos la columna que ya no vamos a utilizar
df.drop('Horno El√©c.', inplace=True, axis=1)

In [ ]:
# Consultar nuevamente la columna conservada para validar su nueva distribuci√≥n
df['Horno'].groupby(df['Horno']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

         Horno  Count
6           No  92931
5        Mixto  33430
1    Electrico  18174
4          Gas   7059
7  Por Definir    179
0            0     98
2      Escoger     62
9           no     42
3   Falta Inf.     36
8  Por definir      6

#### Homologaci√≥n de las variables asociadas a la caracter√≠stica de "Calentador"

In [ ]:
df['Cal. Gas'].groupby(df['Cal. Gas']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

      Cal. Gas  Count
5           No  79980
9           Si  48638
2      Escoger  19912
4          Gas   2934
1    Electrico    209
6  Por Definir    126
0            0     98
8        Punto     91
3   Falta Inf.     27
7  Por definir      2

In [ ]:
df['Cal. El√©c.'].groupby(df['Cal. El√©c.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

    Cal. El√©c.  Count
0           No  55539
2           Si  44049
1  Por Definir     68

Mapeamos los valores de la columna: "Cal. El√©c." a la columna "Cal. Gas" seg√∫n corresponda

In [ ]:
df['Cal. Gas'] = np.where((df['Cal. El√©c.'] == "Si") & (df['Cal. Gas'] == 'Si'), "Gas", df['Cal. Gas'])

In [ ]:
df['Cal. Gas'] = np.where((df['Cal. El√©c.'] == "No") & (df['Cal. Gas'] == 'No'), "No", df['Cal. Gas'])

In [ ]:
# Renombramos la columna que vamos a conservaar: "Calentador"
df.rename(columns = {'Cal. Gas':'Calentador'}, inplace = True)

In [ ]:
# Eliminamos la columna que ya no vamos a utilizar
df.drop('Cal. El√©c.', inplace=True, axis=1)

In [ ]:
df['Calentador'].groupby(df['Calentador']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

    Calentador  Count
5           No  79980
4          Gas  46562
2      Escoger  19912
9           Si   5010
1    Electrico    209
6  Por Definir    126
0            0     98
8        Punto     91
3   Falta Inf.     27
7  Por definir      2

### Exploraci√≥n de variables

In [ ]:
df['Coc. Integral'].groupby(df['Coc. Integral']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

  Coc. Integral  Count
6            Si  94284
2            No  57464
5          Semi    116
0             0     98
1    Falta Inf.     42
3   Por Definir     11
4   Por definir      2

In [ ]:
df['Extractor'].groupby(df['Extractor']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

     Extractor  Count
2           No  91664
5           Si  60166
0            0     98
1   Falta Inf.     51
3  Por Definir     36
4  Por definir      2

In [ ]:
df['Chimeneas'].groupby(df['Chimeneas']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

     Chimeneas   Count
3           No  148801
8           Si    2893
9           no     126
0            0      98
5       Opci√≥n      42
1   Falta Inf.      27
4       Opcion      20
7  Por definir       5
6  Por Definir       4
2         Le√±a       1

In [ ]:
df['Tinas'].groupby(df['Tinas']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

         Tinas   Count
2           No  142570
5           Si    9308
0            0      98
1   Falta Inf.      27
3  Por Definir       8
4  Por definir       6

In [ ]:
df['Pta Duchas'].groupby(df['Pta Duchas']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

                   Pta Duchas  Count
10               Vidrio Temp.  79921
6                          No  71661
0                           0     98
4   Ba√±o Princ.(Vidrio Temp.)     82
11               vidrio Temp.     82
2                    Acr√≠lico     78
1                    Acrilico     38
5                  Falta Inf.     27
8                 Por Definir     12
3       Ba√±o Princ.(Acrilico)     11
7                    Opcional      5
9                 Por definir      2

In [ ]:
df['Dep√≥sito'].groupby(df['Dep√≥sito']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

      Dep√≥sito  Count
7           Si  83728
2           No  63750
3     Opcional   3943
4       Opci√≥n    462
0            0     98
1   Falta Inf.     27
5  Por Definir      7
6  Por definir      2

In [ ]:
df['Porter√≠a'].groupby(df['Porter√≠a']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

        Porter√≠a   Count
3             Si  138658
1             No   12727
2    Por Definir     343
4  Video Portero     244
5             si      42
0     Falta Inf.       7

In [ ]:
df['Tinas'].groupby(df['Tinas']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

         Tinas   Count
2           No  142570
5           Si    9308
0            0      98
1   Falta Inf.      27
3  Por Definir       8
4  Por definir       6

In [ ]:
df['Sal√≥n Social'].groupby(df['Sal√≥n Social']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

   Sal√≥n Social  Count
1             1  69075
5             1  39932
0             0  24107
4             0  15311
2             2   1809
6             2   1131
3             3    312
7             3    243
8             4     36
9             6     18
12  Por definir     18
11  Por Definir     17
10   Falta Inf.      8

In [ ]:
df['Parque Inf.'].groupby(df['Parque Inf.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

   Parque Inf.   Count
5           Si  103450
2           No   48247
3  Por Definir     160
0            0      98
1   Falta Inf.      60
4  Por definir       2

In [ ]:
df['Canchas'].groupby(df['Canchas']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

                     Canchas   Count
15                        No  108576
10                  M√∫ltiple   17540
9                   Multiple    9436
19                    Squash    6195
4                     Futbol    2952
16                     Otras    2585
23                    Varios    2111
12           M√∫ltiple/Squash     850
11           M√∫ltiple/Futbol     560
13           M√∫ltiple/Tennis     319
21                    Tennis     155
20                     Tenis     105
17               Por Definir     103
0                          0      98
7                Microfutbol      90
22             Tennis/Futbol      78
5                   Futbol 5      52
3                 Falta Inf.      44
6              F√∫tbol/Squash      42
18                 Sint√©tica      37
1                 Baloncesto      18
14     M√∫ltiple/Volley Playa      17
8                Microf√∫tbol       8
2   Baloncesto/Futbol/Squash       4
24                  Voleibol       1

In [ ]:
df['Gimnasio'].groupby(df['Gimnasio']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

In [ ]:
df['Planta El√©ct.'].groupby(df['Planta El√©ct.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

  Planta El√©ct.  Count
2            No  97830
3       Parcial  52932
4   Por Definir    589
6         Total    507
0             0     98
1    Falta Inf.     45
5   Por definir      7

In [ ]:
df['Ofrece Piscina'].groupby(df['Ofrece Piscina']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

            Ofrece Piscina  Count
10                      No  69381
13                 Privada  44361
1                  Comunal  36375
2      Comunal Adul./Ni√±os    918
14                      Si    286
4   Comunal Y Opcion Priv.    153
3          Comunal Adultos    105
5     Comunal adult./ni√±os    102
0                        0     98
7   Comunal y Opcion Priv.     70
9               Falta Inf.     60
8      Comunal/Opc.Privada     55
11             Por Definir     43
12             Por definir      6
6            Comunal ni√±os      4

In [ ]:
df['Shut Basuras'].groupby(df['Shut Basuras']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

  Shut Basuras  Count
8  Shut/Cuarto  80311
2  Cuarto/Shut  42332
1       Cuarto  17361
4           No  11387
7         Shut    452
0            0     98
5  Por Definir     51
3   Falta Inf.     27
6  Por definir      2

In [ ]:
df['Saunas'].groupby(df['Saunas']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

                 Saunas  Count
6                    No  80322
14                Turco  28435
12          Sauna/Turco  19309
15        Turco/Jacuzzi   5652
13  Sauna/Turco/Jacuzzi   5176
2               Jacuzzi   4497
5         Jacuzzi/Turco   3119
4   Jacuzzi/Sauna/Turco   2752
9                 Sauna   1497
11        Sauna/Jacuzzi    654
3         Jacuzzi/Sauna    374
0                     0     98
1            Falta Inf.     43
10        Sauna-Jacuzzi     42
7           Por Definir     34
8           Por definir      4

In [ ]:
df['No. Ascensores x Torre'].groupby(df['No. Ascensores x Torre']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

   No. Ascensores x Torre  Count
2                       2  38971
1                       1  29623
0                       0  23396
9                       2  22976
8                       1  17344
7                       0  13981
3                       3   2754
10                      3   1843
4                       4    439
11                      4    333
15                     No    149
5                       5     80
12                      5     41
6                       8     40
13                      8     21
14             Falta Inf.     16
16            Por definir     14

In [ ]:
df['Otro'].groupby(df['Otro']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

                                                   Otro  Count
970                                             Piscina  17470
605                                          Falta Inf.   6571
908                                            No Tiene   5880
2138                                           Solarium   2974
2618                                       Zonas Verdes   1614
...                                                 ...    ...
73                        3 Ascensores en las 2 torres.      1
150                                   BBQ , Sky Livings      1
2707  √Årea Total del Lote 16,000 m2-Acueducto Vereda...      1
516   Coworking, sal√≥n de yoga, zona de chimeneas, p...      1
2073         Senderos Verdes - Living Room - Co-working      1

[2736 rows x 2 columns]

In [ ]:
df['Parqueaderos'].groupby(df['Parqueaderos']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

                                          Parqueaderos  Count
702                                           No Tiene  20744
20                                                  10   4056
75                                                  12   3541
238                                                 20   3432
559                                                  6   3184
..                                                 ...    ...
155  15 parqueaderos comunes T1 VIS Relacion 1 x 10...      1
340              272 Privados - Por Definir Visitantes      1
578                                           64 carro      1
386                                       312 Privados      1
262                                           21 en T1      1

[723 rows x 2 columns]

In [ ]:
df['Tipo Urbanizacion'].groupby(df['Tipo Urbanizacion']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

  Tipo Urbanizacion   Count
2           Cerrado  138218
1           Abierto   11662
3          Edificio    2025
0                 0      98
4       Por Definir      14
5       Por definir       4

In [ ]:
df['Tipo Est.'].groupby(df['Tipo Est.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

           Tipo Est.  Count
12       Tradicional  99885
3    Industrializada  27341
4     M. Estructural   9539
8           No Tiene   6428
5   Mamposteria Est.   4581
7                 No   3959
6              Mixta     99
0                  0     98
2         Falta Inf.     41
11      Prefabricada     22
10       Por definir      9
9        Por Definir      6
1           Edificio      1

In [ ]:
df['Fachada'].groupby(df['Fachada']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

                                 Fachada   Count
7                               Ladrillo  116476
12                      Pa√±ete y Pintura   14375
9                               No Tiene    6386
11                      Pa√±ete Y Pintura    4189
8                                     No    4000
4                               Concreto    2696
17                                Vidrio    1065
13                                Piedra     949
15                           Por Definir     546
10                                  Otro     503
14                               Pintura     365
2                              Carraplas     135
6                    Graniplas o Similar     114
3   Carraplast/Estuco Plastico/Graniplas     114
0                                      0      38
5                             Falta Inf.      27
1                  Bloque Cocido/Cemento      23
16                           Por definir      16

In [ ]:
df['Vent.'].groupby(df['Vent.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

         Vent.   Count
1     Aluminio  136861
5     No Tiene    6512
4           No    3978
6          PVC    3555
8          Pvc     864
0            0      98
3       Madera      61
7  Por Definir      61
2   Falta Inf.      27

In [ ]:
df['Carp. Mad.'].groupby(df['Carp. Mad.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

                Carp. Mad.  Count
4                  Madecor  69597
10                No Tiene  32926
5                   Madera  29314
9                       No  17899
6   Materiales Aglomerados    791
12             Por Definir    731
8                 Melamina    473
0                        0     98
2     Entamborada-Chapilla     83
1               Aglomerado     36
11                    Otro     31
3               Falta Inf.     27
7   Materiales aglomerados     11

In [ ]:
df['Mueble Cocina'].groupby(df['Mueble Cocina']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

             Mueble Cocina  Count
6                  Madecor  86729
12                No Tiene  32296
11                      No  17801
7                   Madera  12093
14             Por Definir    792
8   Materiales Aglomerados    645
10                Melamina    586
13                    Otro    504
5                  F√≥rmica    246
0                        0     98
4                  Formica     95
16           Termolaminado     41
3               Falta Inf.     31
1               Aglomerado     25
15           Termolaminada     19
2     Entamborada-Chapilla      9
9   Materiales aglomerados      7

In [ ]:
df['Mes√≥n Cocina'].groupby(df['Mes√≥n Cocina']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

           Mes√≥n Cocina  Count
10       Granito Pulido  66224
1      Acero Inoxidable  38779
15             No Tiene  10936
19         Quartz Stone  10488
20            Quarztone   8168
14                   No   6612
9       Granito Natural   3019
13               M√°rmol   2053
18             Qartzone   2009
12               Marmol   1032
2               Cemento    894
17          Por Definir    778
16                 Otro    408
8   Granito Marmolizado    209
0                     0     98
5              Cer√°mica     84
11               Madera     42
3       Cemento Afinado     42
21      Recina Italiana     42
4              Ceramica     38
6            Falta Inf.     27
7               Granito     18

In [ ]:
df['Mes√≥n Ba√±os'].groupby(df['Mes√≥n Ba√±os']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

            Mes√≥n Ba√±os  Count
16             No Tiene  52238
14               M√°rmol  29955
15                   No  27110
13               Marmol  14198
21         Quartz Stone   8416
23            Quarztone   6720
9       Granito Natural   5381
10       Granito Pulido   2054
17                 Otro   1881
19          Por Definir   1022
20             Qartzone    912
12               Madera    545
24               Vidrio    482
22            Quartzone    317
8   Granito Marmolizado    209
11              Madecor    159
18           Policuarzo    120
0                     0     98
7               F√≥rmica     42
5              Fir Plak     41
2            Falta Inf.     36
1               Escoger     23
4          Fibra Vidrio     20
6               Formica     19
3       Fibra De Vidrio     19

In [ ]:
df['Halles Com.'].groupby(df['Halles Com.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

           Halles Com.  Count
9    Cer√°mica de Gress  47079
6    Ceramica De Gress  23383
22         Porcelanato  18801
8             Cer√°mica  15049
3              Cemento  14145
5             Ceramica   7924
17            No Tiene   6652
15              M√°rmol   4516
16                  No   4060
14              Marmol   2080
21         Por Definir   2056
18                Otro   1246
20      Piedra Natural    952
11             Granito    912
19               Otros    883
7    Ceramica de Gress    638
24              Vinilo    355
12              Madera    331
2              Adoqu√≠n    234
1              Adoquin    228
4      Cemento Afinado    127
13     Madera Laminada    123
0                    0     98
26             granito     42
25  Vinilo Tipo Madera     41
23    Tableta de Gress     35
10          Falta Inf.     27

In [ ]:
df['Halles Viv.'].groupby(df['Halles Viv.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

                    Halles Viv.  Count
24                  Porcelanato  29196
5                      Cer√°mica  28297
3               Cemento Afinado  27084
11              Madera Laminada  14277
4                      Ceramica  13782
2                       Cemento   7657
18                     No Tiene   6906
15                       M√°rmol   4599
17                           No   4302
25  Porcelanato-Madera Laminada   4290
28                       Vinilo   2269
14                       Marmol   2262
19                         Otro   2064
12               Madera Natural   1933
27             Tableta de Gress   1221
26             Tableta De Gress    541
23                  Por Definir    472
20                        Otros    212
16       M√°rmol-Madera Laminada    156
0                             0     98
21                          PVC     63
1                      Alfombra     60
6      Cer√°mica-Madera Laminada     42
22               Piedra Natural     41
13                Madera Vinilo     41
10                       Madera     41
7                      Concreto     41
29           Vinilo Tipo Madera     32
9                    Falta Inf.     28
8                 Enchape (Z.H)      9
30                  porcelanato      1

In [ ]:
df['Muros Coc.'].groupby(df['Muros Coc.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

              Muros Coc.  Count
14               Pintura  76350
5    Enchape Salpicadero  16564
13                  Otro  16077
11                    No   9840
12              No Tiene   8937
4     Enchape 1/2 Altura   8449
8                 Estuco   7580
1                 Bloque   3045
10  Ladrillo Estructural   2777
2                Cemento   1113
15           Por Definir    690
7          Enchape Total    402
0                      0     98
9             Falta Inf.     48
6   Enchape Salpicaderos     35
3               Concreto     12

In [ ]:
df['Muros Ba√±.'].groupby(df['Muros Ba√±.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

             Muros Ba√±.   Count
2         Enchape (Z.H)  107144
5         Enchape Total   27069
9              No Tiene    8020
8                    No    5009
1         Enchape (C.D)    3856
10          Por Definir     465
3    Enchape 1/2 Altura     245
0                     0      98
6            Enchape ZH      74
7            Falta Inf.      36
4   Enchape Salpicadero       1

In [ ]:
df['Mueble Lavamanos'].groupby(df['Mueble Lavamanos']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

          Mueble Lavamanos  Count
7                  Madecor  60554
12                No Tiene  51478
11                      No  26588
8                   Madera  10643
14             Por Definir   1042
9   Materiales Aglomerados    612
10                Melamina    413
5                  F√≥rmica    247
4                  Formica    114
0                        0     98
15                      no     69
6           Granito Pulido     43
13                    Otro     43
1               Aglomerado     27
3               Falta Inf.     27
2     Entamborada-Chapilla     19

In [ ]:
df['Lavad.'].groupby(df['Lavad.']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

             Lavad.   Count
6    Granito Pulido  118033
8          No Tiene    8135
4   Fibra de Vidrio    6971
7                No    5095
3   Fibra De Vidrio    4505
9              Otro    4406
12      Por Definir    1708
13        Porcelana    1138
14   Porcelana Fria     739
1           Cemento     630
5          Fir Plak     256
0                 0      98
16     Prefabricado      84
2        Falta Inf.      50
10         Plastico      44
11       Plastiglas      42
15   Porcelana Fr√≠a      42
17      Quarz Stone      41

In [ ]:
df['Prima Altura'].groupby(df['Prima Altura']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

                                          Prima Altura  Count
88                                                   0  74053
681                                Sin Prima de Altura  21093
663                                           No Tiene   7815
132              1.000.000 x Piso a partir del 4¬∫ Piso   1266
126              1.000.000 x Piso a partir del 2¬∫ Piso   1181
..                                                 ...    ...
509  500.000 del Piso 8 al 13, 1.000.000 del Piso 1...      1
2                       $1,000,000 A partir de 8¬∞ Piso      1
693  incluido en VIS / No VIS $300.000 A partir del...      1
694                                                 no      1
180             1.500.000 x Piso a partir del 10¬∫ Piso      1

[696 rows x 2 columns]

In [ ]:
df['Activo'].groupby(df['Activo']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

  Activo  Count
0     No  76435
1     Si  23221

In [ ]:
df['A√±oMesU'].groupby(df['A√±oMesU']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

      A√±oMesU  Count
60 2022-03-01   2891
59 2022-02-01   2864
58 2022-01-01   2853
57 2021-12-01   2850
56 2021-11-01   2840
..        ...    ...
3  2017-06-01   2160
2  2017-05-01   2134
1  2017-04-01   2125
0  2017-03-01   2118
32 2019-11-01   1310

[61 rows x 2 columns]

In [ ]:
df['No. Ascensores x Torre'].groupby(df['No. Ascensores x Torre']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

   No. Ascensores x Torre  Count
2                       2  38971
1                       1  29623
0                       0  23396
9                       2  22976
8                       1  17344
7                       0  13981
3                       3   2754
10                      3   1843
4                       4    439
11                      4    333
15                     No    149
5                       5     80
12                      5     41
6                       8     40
13                      8     21
14             Falta Inf.     16
16            Por definir     14

In [ ]:
df['Gimnasio'].groupby(df['Gimnasio']).count().reset_index(
  name='Count').sort_values(['Count'], ascending=False)

                Gimnasio  Count
11                    No  79820
5                 Dot√°do  40484
3                 Dotado  21202
14            Semidotado   7292
6                Espacio   2108
1             Aire Libre    358
12           Por Definir    300
2           Biosaludable    194
0                      0     98
10            Falta Inf.     52
15                   TRX     38
9     Espacio/Semidotado     32
8         Espacio/Dotado     21
4    Dotado/Biosaludable     17
13           Por definir      2
7   Espacio/Biosaludable      1

## Conversi√≥n de variables categ√≥ricas en variables num√©ricas

### Creamos los diccionarios de datos para las variables a convertir

In [ ]:
Cocina_Dic = {
    'No'          : 0,
    'Si'          : 1,
    'Semi'        : 1,
    'Por Definir' : None,
    'Por definir' : None,
    'Falta Inf.'  : None,
    'nan.'        : None,
    '0'           : None
                  }

In [ ]:
Extractor_Dic = {
    'No'          : 0,
    'Si'          : 1,
    'Por Definir' : None,
    'Por definir' : None,
    'Falta Inf.'  : None,
    'nan.'        : None,
    '0'           : None
                  }

In [ ]:
Lav_Sec_Dir = {
    'No'          : 0,
    'Si'          : 1,
    'Lavadora'    : 1,
    'Secadora'    : 1,
    'Lav./Sec.'   : 1,
    'Por Definir' : None,
    'Por definir' : None,
    'Falta Inf.'  : None,
    'nan.'        : None,
    '0'           : None
                  }

In [ ]:
Calentador_Dic = {
    'No'          : 0,
    'Si'          : 1,
    'Gas'         : 1,
    'Electrico'   : 1,
    'Escoger'     : 1,
    'Punto'       : 1,
    'Por Definir' : None,
    'Por definir' : None,
    'Falta Inf.'  : None,
    'nan.'        : None,
    '0'           : None
                  }

In [ ]:
Horno_Dic = {
    'No'          : 0,
    'Si'          : 1,
    'Gas'         : 1,
    'Electrico'   : 1,
    'Mixto'       : 1,
    'Escoger'     : 1,
    'Punto'       : 1,
    'Por Definir' : None,
    'Por definir' : None,
    'Falta Inf.'  : None,
    'nan.'        : None,
    '0'           : None
                  }

In [ ]:
Estufa_Dic = {
    'No'          : 0,
    'Gas'         : 1,
    'Electrica'   : 1,
    'Mixta'       : 1,
    'Escoger'     : 1,
    'Induccion'   : 1,
    'Por Definir' : None,
    'Por definir' : None,
    'Falta Inf.'  : None,
    '0'           : None
                  }

In [ ]:
Chimenea_Dic = {
    'No'          : 0,
    'no'          : 0,
    'Si'          : 1,
    'Opci√≥n'      : 1,
    'Opcion'      : 1,
    'Le√±a'        : 1,
    'Por Definir' : None,
    'Por definir' : None,
    'Falta Inf.'  : None,
    '0'           : None
                  }

In [ ]:
Tinas_Dic = {
    'No'          : 0,
    'Si'          : 1,
    'Por Definir' : None,
    'Por definir' : None,
    'Falta Inf.'  : None,
    '0'           : None
                  }

In [ ]:
Deposito_Dic = {
    'No'          : 0,
    'Si'          : 1,
    'Opcional'    : 1,
    'Opci√≥n'      : 1,
    'Por Definir' : None,
    'Por definir' : None,
    'Falta Inf.'  : None,
    '0'           : None
                  }

In [ ]:
Porteria_Dic = {
    'No'           : 0,
    'Si'           : 1,
    'si'           : 1,    
    'Video Portero': 1,    
    'Falta Inf.'   : None,
    '0'            : None
                  }

In [ ]:
SalonSoc_Dic = {
    'Por Definir' : None,
    'Por definir' : None,
    'Falta Inf.'  : None
                  }

In [ ]:
ParqInf_Dic = {
    'No'          : 0,
    'Si'          : 1,
    'Por Definir' : None,
    'Por definir' : None,
    'Falta Inf.'  : None,
    '0'           : None
                  }

In [ ]:
PlantaElec_Dic = {
    'No'          : 0,
    'Parcial'     : 1,
    'Total'       : 1,
    'Por Definir' : None,
    'Por definir' : None,
    'Falta Inf.'  : None,
    '0'           : None
                  }

In [ ]:
ShutBas_Dic = {
    'No'          : 0,
    'Shut/Cuarto' : 1,
    'Cuarto/Shut' : 1,
    'Cuarto'      : 1,
    'Shut'        : 1,
    'Por Definir' : None,
    'Por definir' : None,
    'Falta Inf.'  : None,
    '0'           : None
                  }

In [ ]:
TipoUrb_Dic = {
    'Abierto'     : 0,
    'Cerrado'     : 1,
    'Edificio'    : 1,
    'Por Definir' : None,
    'Por definir' : None,
    '0'           : None
                  }

In [ ]:
TipoEstruc_Dic = {
    'No'              : 0,
    'No Tiene'        : 0,
    'Tradicional'     : 1,
    'Industrializada' : 1,
    'M. Estructural'  : 1,
    'Mamposteria Est.': 1,
    'Mixta'           : 1,    
    'Edificio'        : 1, 
    'Prefabricada'    : 1,
    'Por Definir'     : None,
    'Por definir'     : None,
    'Falta Inf.'      : None,
    '0'               : None
                      }

In [ ]:
Ventana_Dic = {
    'No'              : 0,
    'No Tiene'        : 0,
    'Aluminio'        : 1,
    'PVC'             : 1,
    'Pvc'             : 1,
    'Madera'          : 1,
    'Por Definir'     : None,
    'Por definir'     : None,
    'Falta Inf.'      : None,
    '0'               : None
                      }

In [ ]:
Muros_Ba√±_Dic = {
    'No'                  : 0,
    'No Tiene'            : 0,
    'Enchape (Z.H)'       : 1,
    'Enchape ZH'          : 1,
    'Enchape Total'       : 1,
    'Enchape (C.D)'       : 1,
    'Enchape Salpicadero' : 1,
    'Por Definir'         : None,
    'Por definir'         : None,
    'Falta Inf.'          : None,
    '0'                   : None
                          }

In [ ]:
Activo_Dic = {
    'No'                  : 0,
    'Si'                  : 1
                          }

In [ ]:
Zona_Dic = {
    'Med. No VIS'         : 0,
    'Sur No VIS'          : 1,
    'Med. VIS'            : 1,
    'Campestre'           : 1,       
    'Oriente No VIS'      : 1            
                          }

In [ ]:
Ascensores_Dic = {
    'No'                  : 0,
    'Por definir'         : None,
    'Falta Inf.'          : None,
    '0'                   : 0
                          }

In [ ]:
Gimnasio_Dic = {
    'Dot√°do'              : 'Dotado',
    'Semidotado'          : 'Dotado',    
    'Dotado/Biosaludable' : 'Biosaludable',    
    'Espacio/Biosaludable': 'Biosaludable',    
    'Espacio/Semidotado'  : 'Espacio',                
    'Espacio/Dotado'      : 'Espacio',                
    'Aire Libre'          : 'Espacio',                
    'TRX'                 : 'Espacio',                
    'Por definir'         : None,
    'Falta Inf.'          : None,
    '0'                   : None
                          }

In [ ]:
Piscina_Dic = {
    'Si'                    : 'Privada',          
    'Comunal Adul./Ni√±os'   : 'Comunal',          
    'Comunal Y Opcion Priv.': 'Comunal',          
    'Comunal Adultos'       : 'Comunal',          
    'Comunal adult./ni√±os'  : 'Comunal',
    'Comunal y Opcion Priv.': 'Comunal',
    'Comunal/Opc.Privada'   : 'Comunal',
    'Comunal ni√±os'         : 'Comunal',
    'Por Definir'         : None,
    'Por definir'         : None,
    'Falta Inf.'          : None,
    '0'                   : None
                          }

In [ ]:
Saunas_Dic = {
    'Sauna/Turco'         : 'Turco',          
    'Turco/Jacuzzi'       : 'Turco',          
    'Sauna/Turco/Jacuzzi' : 'Sauna',          
    'Jacuzzi/Turco'       : 'Jacuzzi',          
    'Jacuzzi/Sauna/Turco' : 'Jacuzzi',          
    'Sauna/Jacuzzi'       : 'Jacuzzi',          
    'Jacuzzi/Sauna'       : 'Sauna',          
    'Sauna-Jacuzzi'       : 'Sauna',          
    'Por Definir'         : None,
    'Por definir'         : None,
    'Falta Inf.'          : None,
    '0'                   : None
                          }

### Aplicamos funci√≥n para reemplazar los valores categ√≥ricos por valores num√©ricos

In [ ]:
Cocina_Dic_Proc = lambda x: Cocina_Dic.get(x, 0)
df['Coc. Integral'] = df['Coc. Integral'].apply(Cocina_Dic_Proc)

In [ ]:
Extractor_Dic_Proc = lambda x: Extractor_Dic.get(x, 0)
df['Extractor'] = df['Extractor'].apply(Extractor_Dic_Proc)

In [ ]:
Lav_Sec_Dir_Proc = lambda x: Lav_Sec_Dir.get(x, 0)
df['Lav-Sec'] = df['Lav-Sec'].apply(Lav_Sec_Dir_Proc)

In [ ]:
Calentador_Dic_Proc = lambda x: Calentador_Dic.get(x, 0)
df['Calentador'] = df['Calentador'].apply(Calentador_Dic_Proc)

In [ ]:
Horno_Dic_Proc = lambda x: Horno_Dic.get(x, 0)
df['Horno'] = df['Horno'].apply(Horno_Dic_Proc)

In [ ]:
Estufa_Dic_Proc = lambda x: Estufa_Dic.get(x, 0)
df['Estufa'] = df['Estufa'].apply(Estufa_Dic_Proc)

In [ ]:
Chimenea_Dic_Proc = lambda x: Chimenea_Dic.get(x, 0)
df['Chimeneas'] = df['Chimeneas'].apply(Chimenea_Dic_Proc)

In [ ]:
Tinas_Dic_Proc = lambda x: Tinas_Dic.get(x, 0)
df['Tinas'] = df['Tinas'].apply(Tinas_Dic_Proc)

In [ ]:
Deposito_Dic_Proc = lambda x: Deposito_Dic.get(x, 0)
df['Dep√≥sito'] = df['Dep√≥sito'].apply(Deposito_Dic_Proc)

In [ ]:
Porteria_Dic_Proc = lambda x: Porteria_Dic.get(x, 0)
df['Porter√≠a'] = df['Porter√≠a'].apply(Porteria_Dic_Proc)

In [ ]:
SalonSoc_Dic_Proc = lambda x: SalonSoc_Dic.get(x, 0)
df['Sal√≥n Social'] = df['Sal√≥n Social'].apply(SalonSoc_Dic_Proc)

In [ ]:
ParqInf_Dic_Proc = lambda x: ParqInf_Dic.get(x, 0)
df['Parque Inf.'] = df['Parque Inf.'].apply(ParqInf_Dic_Proc)

In [ ]:
PlantaElec_Dic_Proc = lambda x: PlantaElec_Dic.get(x, 0)
df['Planta El√©ct.'] = df['Planta El√©ct.'].apply(PlantaElec_Dic_Proc)

In [ ]:
ShutBas_Dic_Proc = lambda x: ShutBas_Dic.get(x, 0)
df['Shut Basuras'] = df['Shut Basuras'].apply(ShutBas_Dic_Proc)

In [ ]:
TipoUrb_Dic_Proc = lambda x: TipoUrb_Dic.get(x, 0)
df['Tipo Urbanizacion'] = df['Tipo Urbanizacion'].apply(TipoUrb_Dic_Proc)

In [ ]:
Ventana_Dic_Proc = lambda x: Ventana_Dic.get(x, 0)
df['Vent.'] = df['Vent.'].apply(Ventana_Dic_Proc)

In [ ]:
TipoEstruc_Dic_Proc = lambda x: TipoEstruc_Dic.get(x, 0)
df['Tipo Est.'] = df['Tipo Est.'].apply(TipoEstruc_Dic_Proc)

In [ ]:
Muros_Ba√±_Dic_Proc = lambda x: Muros_Ba√±_Dic.get(x, 0)
df['Muros Ba√±.'] = df['Muros Ba√±.'].apply(Muros_Ba√±_Dic_Proc)

In [ ]:
Activo_Dic_Proc = lambda x: Activo_Dic.get(x, 0)
df['Activo'] = df['Activo'].apply(Activo_Dic_Proc)

In [ ]:
Zona_Dic_Proc = lambda x: Zona_Dic.get(x, 0)
df['Zona'] = df['Zona'].apply(Zona_Dic_Proc)

In [ ]:
Ascensores_Dic_Proc = lambda x: Ascensores_Dic.get(x, 0)
df['No. Ascensores x Torre'] = df['No. Ascensores x Torre'].apply(Ascensores_Dic_Proc)

In [ ]:
Gimnasio_Dic_Proc = lambda x: Gimnasio_Dic.get(x, 0)
df['Gimnasio'] = df['Gimnasio'].apply(Gimnasio_Dic_Proc)

In [ ]:
Piscina_Dic_Proc = lambda x: Piscina_Dic.get(x, 0)
df['Ofrece Piscina'] = df['Ofrece Piscina'].apply(Piscina_Dic_Proc)

In [ ]:
Saunas_Dic_Proc = lambda x: Saunas_Dic.get(x, 0)
df['Saunas'] = df['Saunas'].apply(Saunas_Dic_Proc)

### Eliminamos columbas que NO aportan valor al modelo

Se ientificaron una serie de columnas que dado su conenido, no aportan significativamente al modelo.


*   Otro
*   Parqueaderos
*   Prima Altura
*   Descripci√≥n del Proyecto

NOTA: Estas variables por su caracter netamente descriptivo, para efectos del estudio actual, no se considerar√°n dentro del modelo. Es importante tener claro que para otro estudio podr√≠an llegar a ser de mucho valor de llegar a tratarse con TextMining.

In [ ]:
df = df.drop(['Otro', 'Parqueaderos', 'Prima Altura', 'Descripcion del Proyecto','Pta Duchas','Canchas','Fachada','Carp. Mad.',
              'Mueble Cocina','Mes√≥n Cocina','Mes√≥n Ba√±os','Halles Com.','Halles Viv.','Muros Coc.','Mueble Lavamanos','Lavad.',
              'Descripci√≥n Combo  acabados'],axis=1)

### Completar valores NaN

In [ ]:
mean_value=df['Coc. Integral'].mean()
df['Coc. Integral'].fillna(value=mean_value, inplace=True)

In [ ]:
mean_value=df['Extractor'].mean()
df['Extractor'].fillna(value=mean_value, inplace=True)

In [ ]:
mean_value=df['Estufa'].mean()
df['Estufa'].fillna(value=mean_value, inplace=True)

In [ ]:
mean_value=df['Horno'].mean()
df['Horno'].fillna(value=mean_value, inplace=True)

In [ ]:
mean_value=df['Calentador'].mean()
df['Calentador'].fillna(value=mean_value, inplace=True)

In [ ]:
mean_value=df['Activo'].mean()
df['Activo'].fillna(value=mean_value, inplace=True)

In [ ]:
df.fillna(0)
df.replace(np.nan, 0)

,Codproyecto,Proyecto,Zona,Coc. Integral,Extractor,Lav-Sec,Estufa,Horno,Calentador,Chimeneas,...,Ofrece Piscina,Shut Basuras,Saunas,No. Ascensores x Torre,Tipo Urbanizacion,Tipo Est.,Vent.,Muros Ba√±.,Activo,A√±oMesU
0,60000,Santa Clara,0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0,1.0,0,0.0,1.0,1.0,1.0,1.0,0,2017-03-01
1,60001,Santa Mar√≠a del Bosque,0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0,1.0,0,0.0,1.0,1.0,1.0,1.0,0,2017-03-01
2,60002,Quinta Avenida,0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0,1.0,0,0.0,1.0,1.0,1.0,1.0,0,2017-03-01
3,60003,California de El Poblado,0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0,1.0,0,0.0,1.0,1.0,1.0,1.0,0,2017-03-01
4,60004,Providencia,0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0,1.0,0,0.0,1.0,1.0,1.0,1.0,0,2017-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152016,62864,Cielo Campestre Lotes,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,1.0,0.0,0.0,0.0,0,2022-03-01
152017,62778,Almara Lotes,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1.0,0,0.0,1.0,0.0,0.0,0.0,0,2022-03-01
152018,61751,Gales*,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,1.0,Turco,0.0,1.0,1.0,1.0,1.0,0,2022-03-01
152019,61919,Citadela Di Sole*,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,1.0,Jacuzzi,0.0,1.0,1.0,1.0,0.0,0,2022-03-01
152020,62273,Lexury Towers Benedictinos,1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0,1.0,0,0.0,1.0,1.0,1.0,1.0,0,2022-03-01

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152021 entries, 0 to 152020
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Codproyecto             152021 non-null  int64
 1   Proyecto                152021 non-null  object
 2   Zona                    152021 non-null  int64
 3   Coc. Integral           152021 non-null  float64
 4   Extractor               152021 non-null  float64
 5   Lav-Sec                 151882 non-null  float64
 6   Estufa                  152021 non-null  float64
 7   Horno                   152021 non-null  float64
 8   Calentador              152021 non-null  float64
 9   Chimeneas               151887 non-null  float64
 10  Tinas                   151882 non-null  float64
 11  Dep√≥sito                151887 non-null  float64
 12  Porter√≠a                152014 non-null  float64
 13  Sal√≥n Social            151978 non-null  float64
 14  Parque Inf.             151701 non-null  float64
 15  Gimnasio                151869 non-null  object
 16  Planta El√©ct.           151282 non-null  float64
 17  Ofrece Piscina          151814 non-null  object
 18  Shut Basuras            151843 non-null  float64
 19  Saunas                  151842 non-null  object
 20  No. Ascensores x Torre  151991 non-null  float64
 21  Tipo Urbanizacion       151905 non-null  float64
 22  Tipo Est.               151867 non-null  float64
 23  Vent.                   151835 non-null  float64
 24  Muros Ba√±.              151422 non-null  float64
 25  Activo                  152021 non-null  int64
 26  A√±oMesU                 152021 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(19), int64(3), object(4)
memory usage: 31.3+ MB

In [ ]:
#Creamos un nuevo respaldo del data frame
# Con las transformaciones realizadas
df_c1 = df.copy()

### Generaci√≥n de variables Dummy

In [ ]:
df = pd.get_dummies(df,columns=['Gimnasio', 'Ofrece Piscina','Saunas'],drop_first=True)

## Dejando los datos listos para el modelo

In [ ]:
df = df.drop_duplicates()
df

,Codproyecto,Proyecto,Zona,Coc. Integral,Extractor,Lav-Sec,Estufa,Horno,Calentador,Chimeneas,...,Activo,A√±oMesU,Gimnasio_Biosaludable,Gimnasio_Dotado,Gimnasio_Espacio,Ofrece Piscina_Comunal,Ofrece Piscina_Privada,Saunas_Jacuzzi,Saunas_Sauna,Saunas_Turco
0,60000,Santa Clara,0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0,2017-03-01,0,0,0,0,0,0,0,0
1,60001,Santa Mar√≠a del Bosque,0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0,2017-03-01,0,0,0,0,0,0,0,0
2,60002,Quinta Avenida,0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0,2017-03-01,0,0,0,0,0,0,0,0
3,60003,California de El Poblado,0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0,2017-03-01,0,0,0,0,0,0,0,0
4,60004,Providencia,0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0,2017-03-01,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152016,62864,Cielo Campestre Lotes,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2022-03-01,0,0,0,0,0,0,0,0
152017,62778,Almara Lotes,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2022-03-01,0,0,0,0,0,0,0,0
152018,61751,Gales*,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,2022-03-01,0,0,0,0,0,0,0,1
152019,61919,Citadela Di Sole*,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,2022-03-01,0,1,0,0,0,1,0,0
152020,62273,Lexury Towers Benedictinos,1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0,2022-03-01,0,0,0,0,0,0,0,0

In [ ]:
df  = df.dropna()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150594 entries, 0 to 152020
Data columns (total 32 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Codproyecto             150594 non-null  int64
 1   Proyecto                150594 non-null  object
 2   Zona                    150594 non-null  int64
 3   Coc. Integral           150594 non-null  float64
 4   Extractor               150594 non-null  float64
 5   Lav-Sec                 150594 non-null  float64
 6   Estufa                  150594 non-null  float64
 7   Horno                   150594 non-null  float64
 8   Calentador              150594 non-null  float64
 9   Chimeneas               150594 non-null  float64
 10  Tinas                   150594 non-null  float64
 11  Dep√≥sito                150594 non-null  float64
 12  Porter√≠a                150594 non-null  float64
 13  Sal√≥n Social            150594 non-null  float64
 14  Parque Inf.             150594 non-null  float64
 15  Planta El√©ct.           150594 non-null  float64
 16  Shut Basuras            150594 non-null  float64
 17  No. Ascensores x Torre  150594 non-null  float64
 18  Tipo Urbanizacion       150594 non-null  float64
 19  Tipo Est.               150594 non-null  float64
 20  Vent.                   150594 non-null  float64
 21  Muros Ba√±.              150594 non-null  float64
 22  Activo                  150594 non-null  int64
 23  A√±oMesU                 150594 non-null  datetime64[ns]
 24  Gimnasio_Biosaludable   150594 non-null  uint8
 25  Gimnasio_Dotado         150594 non-null  uint8
 26  Gimnasio_Espacio        150594 non-null  uint8
 27  Ofrece Piscina_Comunal  150594 non-null  uint8
 28  Ofrece Piscina_Privada  150594 non-null  uint8
 29  Saunas_Jacuzzi          150594 non-null  uint8
 30  Saunas_Sauna            150594 non-null  uint8
 31  Saunas_Turco            150594 non-null  uint8
dtypes: datetime64[ns](1), float64(19), int64(3), object(1), uint8(8)
memory usage: 29.9+ MB

In [ ]:
df.describe()

,Codproyecto,Zona,Coc. Integral,Extractor,Lav-Sec,Estufa,Horno,Calentador,Chimeneas,Tinas,...,Muros Ba√±.,Activo,Gimnasio_Biosaludable,Gimnasio_Dotado,Gimnasio_Espacio,Ofrece Piscina_Comunal,Ofrece Piscina_Privada,Saunas_Jacuzzi,Saunas_Sauna,Saunas_Turco
count,150594.000000,150594.000000,150594.000000,150594.000000,150594.000000,150594.00000,150594.000000,150594.000000,150594.000000,150594.000000,...,150594.000000,150594.000000,150594.000000,150594.000000,150594.000000,150594.000000,150594.000000,150594.000000,150594.000000,150594.000000
mean,61267.031489,0.512617,0.622282,0.397513,0.919339,0.70945,0.389793,0.476663,0.019383,0.061802,...,0.912606,0.150298,0.000120,0.314116,0.002982,0.009111,0.001899,0.043036,0.036675,0.164887
std,744.072977,0.499842,0.484813,0.489324,0.272314,0.45380,0.487448,0.499279,0.137868,0.240796,...,0.282412,0.357365,0.010932,0.464164,0.054522,0.095014,0.043538,0.202939,0.187963,0.371080
min,60000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,60626.000000,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,61256.000000,1.000000,1.000000,0.000000,1.000000,1.00000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,61889.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,62944.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Exportando el Data Frame limpio para ser utilizado

In [ ]:
df.to_csv(r'/content/gdrive/MyDrive/Study/MCDA/PI/Data/ServComp_CleanedAlejandro.csv', index = False, encoding='UTF-8')

##Tools

In [ ]:
def dummification(df):
    dummy_df = pd.DataFrame()
    object_cols = df.columns[df.dtypes == object]
    for col in object_cols:
        dummy_df = pd.concat([dummy_df, create_dummy(col, df)], axis = 1)
    
    df_out = pd.concat([df.drop(columns = object_cols), dummy_df], axis = 1)
    return df_out.sort_index(ascending=False, axis=1)
        

def create_dummy(col, df):
    df_dummy = pd.get_dummies(df[col], drop_first = True)
    df_dummy.columns = ['dum: ' + str(col) + ': ' + str(name) for name in df_dummy.columns]
    return df_dummy

df = dummification(df)
df.head()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152021 entries, 0 to 152020
Columns: 6473 entries, dum: Zona: √Årvore to Activo
dtypes: datetime64[ns](1), float64(17), int64(3), uint8(6452)
memory usage: 959.8 MB

In [ ]:
df.info()
No. Ascensores x Torre